<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-help" plain="true" href="@Url.RouteUrl(new { controller = "File", action = "DownloadHelpFiles" })?FileName=WFProcess" target="_blank"></a>当前位置：业务流程>流程管理>流程定义
            </td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a class="mini-button" iconcls="icon-add" plain="true" onclick="onAddClick">新增</a>
                <a class="mini-button" iconcls="icon-edit" plain="true" onclick="onEditClick">修改</a>
                <a class="mini-button" iconcls="icon-remove" plain="true" onclick="onRemoveClick">删除</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgWFProcess" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" showpager="false" fitcolumns="false" onlycheckselection="true" url="@Url.RouteUrl(new { controller = "WorkFlow", action = "GetWFProcesses" })"
         ondrawcell="onDrawCell" onload="onDgWFProcessLoad">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="WFProcessCode" header="流程编码" width="120"></div>
            <div field="WFProcessName" header="流程名称" width="180"></div>
            <div field="WFCategoryName" header="流程类型" width="120"></div>
            <div type="comboboxcolumn" field="IsApprovedByManager" header="部门经理审批" width="85">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Bool"]) />
            </div>
            <div type="comboboxcolumn" field="State" header="状态" width="70">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["State"]) />
            </div>
            <div field="Remarks" header="备注" width="280"></div>
        </div>
    </div>
</div>
<div id="winWFProcess" class="mini-window" style="width: 350px; height: 255px;" showmodal="true" allowresize="false">
    <div id="frmWFProcess" class="form">
        <input class="mini-hidden" id="Id" name="Id" />
        <table style="width: 100%;">
            <tr>
                <td style="width: 80px; text-align: right;">流程编码</td>
                <td>
                    <input id="WFProcessCode" name="WFProcessCode" class="mini-textbox" requirederrortext="请输入流程编码" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">流程名称</td>
                <td>
                    <input id="WFProcessName" name="WFProcessName" class="mini-textbox" requirederrortext="请输入流程名称" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">流程类型</td>
                <td>
                    <input id="WFCategoryId" name="WFCategoryId" class="mini-combobox" style="width: 200px;" textfield="WFCategoryName" valuefield="Id" data=@Html.Raw(ViewData["WFCategorysBySelect"])
                           value="00000000-0000-0000-0000-000000000000" required="true" onvalidation="onWFCategoryIdValidation" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">状态</td>
                <td>
                    <input id="State" name="State" class="mini-combobox" value="1" style="width: 70px;" data=@Html.Raw(ViewData["State"]) />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div id="IsApprovedByManager" name="IsApprovedByManager" class="mini-checkbox" text="部门经理审批" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">备注</td>
                <td>
                    <input id="Remarks" name="Remarks" class="mini-textarea" style="width: 200px; height: 60px;" />
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-save" onclick="onSaveClick" style="margin-right: 10px;">保存</a>
        <a class="mini-button" iconcls="icon-cancel" onclick="onClearClick">清空</a>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgWFProcess = mini.get("dgWFProcess");
    var winWFProcess = mini.get("winWFProcess");
    var frmWFProcess = new mini.Form("#frmWFProcess");
    var txtWFProcessId = mini.get("Id");
    var cbWFCategoryId = mini.get("WFCategoryId");
    var txtWFProcessCode = mini.get("WFProcessCode");
    var cbState = mini.get("State");
    var chkIsApprovedByManager = mini.get("IsApprovedByManager");

    Init();

    function Init() {
        BindDgWFProcess();
    }

    function BindDgWFProcess() {
        btnSearch.setEnabled(false);
        dgWFProcess.clearSelect(false);
        dgWFProcess.load();
    }

    function onDgWFProcessLoad() {
        btnSearch.setEnabled(true);
    }

    function onDrawCell(e) {
        if (e.field == "State" && e.value == 2) {
            e.cellStyle = "color:red;";
        }
    }

    function onWFCategoryIdValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择流程类型";
                e.isValid = false;
            }
        }
    }

    function ClearFrmWFProcess() {
        var idValue = txtWFProcessId.getValue();
        var wfProcessIdValue = cbWFCategoryId.getValue();
        frmWFProcess.clear();
        txtWFProcessId.setValue(idValue);
        cbWFCategoryId.setValue(wfProcessIdValue);
        cbState.setValue(1);
        chkIsApprovedByManager.setValue(false);
    }

    function onSearchClick() {
        BindDgWFProcess();
    }

    function onAddClick() {
        txtWFProcessId.setValue("");
        cbWFCategoryId.setEnabled(true);
        ClearFrmWFProcess();
        cbWFCategoryId.setValue("00000000-0000-0000-0000-000000000000");
        winWFProcess.setTitle("新增流程");
        winWFProcess.show();
        txtWFProcessCode.focus();
    }

    function onEditClick() {
        var rows = dgWFProcess.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择一条要修改的数据");
        }
        else {
            cbWFCategoryId.setEnabled(false);
            ClearFrmWFProcess();
            winWFProcess.setTitle("修改流程");
            winWFProcess.show();
            var el = winWFProcess.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                $.ajax({
                    url: "@Url.RouteUrl(new { controller = "WorkFlow", action = "GetWFProcessById" })" + "/" + rows[0].Id,
                    type: "get",
                    async: false,
                    success: function (result, textStatus) {
                        if (result.Id != null && result.Id == rows[0].Id) {
                            frmWFProcess.setData(result);
                            txtWFProcessCode.focus();
                        }
                        else {
                            winWFProcess.hide();
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        winWFProcess.hide();
                    }
                });
            }, 50);
            setTimeout(function () {
                mini.unmask(el);
            }, 300);
        }
    }

    function onRemoveClick() {
        var rows = dgWFProcess.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择要删除的数据");
        }
        else {
            mini.confirm("确定要删除选中的数据？", "删除流程",
            function (action) {
                if (action == "ok") {
                    var loading = mini.loading("处理中,请稍后...", "删除数据");
                    var jsonData = mini.encode(rows);
                    $.ajax({
                        url: "@Url.RouteUrl(new { controller = "WorkFlow", action = "RemoveWFProcesses" })",
                        data: AddAntiForgeryToken({ data: jsonData }),
                        type: "post",
                        success: function (result, textStatus) {
                            mini.hideMessageBox(loading);
                            if (result.Code != null && result.Code == 0) {
                                ShowSucessMessage(result.Message);
                                BindDgWFProcess();
                            }
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            mini.hideMessageBox(loading);
                        }
                    });
                }
            });
        }
    }

    function onSaveClick() {
        frmWFProcess.validate();
        if (frmWFProcess.isValid() == false) return;
        var loading = mini.loading("处理中,请稍后...", "保存数据");
        var jsonData = mini.encode(frmWFProcess.getData());
        $.ajax({
            url: "@Url.RouteUrl(new { controller = "WorkFlow", action = "SaveWFProcess" })",
            data: AddAntiForgeryToken({ data: jsonData }),
            type: "post",
            success: function (result, textStatus) {
                mini.hideMessageBox(loading);
                if (result.Code != null && result.Code == 0) {
                    winWFProcess.hide();
                    ShowSucessMessage(result.Message);
                    BindDgWFProcess();
                }
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                mini.hideMessageBox(loading);
            }
        });
    }

    function onClearClick() {
        ClearFrmWFProcess();
        txtWFProcessCode.focus();
    }
</script>