<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-help" plain="true" href="@Url.RouteUrl(new { controller = "File", action = "DownloadHelpFiles" })?FileName=Area" target="_blank"></a>当前位置：基础数据>站点管理>区域
            </td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a class="mini-button" iconcls="icon-add" plain="true" onclick="onAddClick">新增</a>
                <a class="mini-button" iconcls="icon-edit" plain="true" onclick="onEditClick">修改</a>
                <a class="mini-button" iconcls="icon-remove" plain="true" onclick="onRemoveClick">删除</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgArea" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" showpager="false" fitcolumns="false" onlycheckselection="true" url="@Url.RouteUrl(new { controller = "BaseData", action = "GetAllAreas" })"
         ondrawcell="onDrawCell" onload="onDgAreaLoad">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="AreaCode" header="区域编码" width="120"></div>
            <div field="AreaName" header="区域名称" width="180"></div>
            <div field="Lng" header="参考经度" width="80"></div>
            <div field="Lat" header="参考纬度" width="80"></div>
            <div field="FullName" header="项目经理" width="180"></div>
            <div type="comboboxcolumn" field="State" header="状态" width="70">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["State"]) />
            </div>
            <div field="Remarks" header="备注" width="280"></div>
        </div>
    </div>
</div>
<div id="winArea" class="mini-window" style="width: 350px; height: 310px;" showmodal="true" allowresize="false">
    <div id="frmArea" class="form">
        <input class="mini-hidden" id="Id" name="Id" />
        <table style="width: 100%;">
            <tr>
                <td style="width: 80px; text-align: right;">区域编码</td>
                <td>
                    <input id="AreaCode" name="AreaCode" class="mini-textbox" requirederrortext="请输入区域编码" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">区域名称</td>
                <td>
                    <input id="AreaName" name="AreaName" class="mini-textbox" requirederrortext="请输入区域名称" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">参考经度</td>
                <td>
                    <input id="Lng" name="Lng" class="mini-textbox" vtype='float' requirederrortext="请输入参考经度" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">参考纬度</td>
                <td>
                    <input id="Lat" name="Lat" class="mini-textbox" vtype='float' requirederrortext="请输入参考纬度" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">项目经理</td>
                <td>
                    <input id="AreaManagerId" name="AreaManagerId" style="width:200px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="请选择" value="00000000-0000-0000-0000-000000000000"
                           onbuttonclick="onUserSelectButtonClick" oncloseclick="onUserSelectButtonCloseClick" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">状态</td>
                <td>
                    <input id="State" name="State" class="mini-combobox" value="1" style="width: 200px;" data=@Html.Raw(ViewData["State"]) />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">备注</td>
                <td>
                    <input id="Remarks" name="Remarks" class="mini-textarea" style="width: 200px; height: 60px;" />
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-save" onclick="onSaveClick" style="margin-right: 10px;">保存</a>
        <a class="mini-button" iconcls="icon-cancel" onclick="onClearClick">清空</a>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgArea = mini.get("dgArea");
    var winArea = mini.get("winArea");
    var frmArea = new mini.Form("#frmArea");
    var txtAreaId = mini.get("Id");
    var txtAreaCode = mini.get("AreaCode");
    var beAreaManagerId = mini.get("AreaManagerId");
    var cbState = mini.get("State");

    Init();

    function Init() {
        BindDgArea();
    }

    function BindDgArea() {
        btnSearch.setEnabled(false);
        dgArea.clearSelect(false);
        dgArea.load();
    }

    function onDgAreaLoad() {
        btnSearch.setEnabled(true);
    }

    function onDrawCell(e) {
        if (e.field == "State" && e.value == 2) {
            e.cellStyle = "color:red;";
        }
    }

    function ClearFrmArea() {
        var idValue = txtAreaId.getValue();
        frmArea.clear();
        txtAreaId.setValue(idValue);
        beAreaManagerId.setValue("00000000-0000-0000-0000-000000000000");
        beAreaManagerId.setText("请选择");
        cbState.setValue(1);
    }

    function onSearchClick() {
        BindDgArea();
    }

    function onAddClick() {
        txtAreaId.setValue("");
        ClearFrmArea();
        winArea.setTitle("新增区域");
        winArea.show();
        txtAreaCode.focus();
    }

    function onEditClick() {
        var rows = dgArea.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择一条要修改的数据");
        }
        else {
            ClearFrmArea();
            winArea.setTitle("修改区域");
            winArea.show();
            var el = winArea.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                $.ajax({
                    url: "@Url.RouteUrl(new { controller = "BaseData", action = "GetAreaById" })" + "/" + rows[0].Id,
                    type: "get",
                    async: false,
                    success: function (result, textStatus) {
                        if (result.Id != null && result.Id == rows[0].Id) {
                            frmArea.setData(result);
                            beAreaManagerId.setValue(result.AreaManagerId);
                            beAreaManagerId.setText(result.AreaManagerFullName);
                            txtAreaCode.focus();
                        }
                        else {
                            winArea.hide();
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        winArea.hide();
                    }
                });
            }, 50);
            setTimeout(function () {
                mini.unmask(el);
            }, 300);
        }
    }

    function onRemoveClick() {
        var rows = dgArea.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择要删除的数据");
        }
        else {
            mini.confirm("确定要删除选中的数据？", "删除区域",
            function (action) {
                if (action == "ok") {
                    var loading = mini.loading("处理中,请稍后...", "删除数据");
                    var jsonData = mini.encode(rows);
                    $.ajax({
                        url: "@Url.RouteUrl(new { controller = "BaseData", action = "RemoveAreas" })",
                        data: AddAntiForgeryToken({ data: jsonData }),
                        type: "post",
                        success: function (result, textStatus) {
                            mini.hideMessageBox(loading);
                            if (result.Code != null && result.Code == 0) {
                                ShowSucessMessage(result.Message);
                                BindDgArea();
                            }
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            mini.hideMessageBox(loading);
                        }
                    });
                }
            });
        }
    }

    function onSaveClick() {
        frmArea.validate();
        if (frmArea.isValid() == false) return;
        var loading = mini.loading("处理中,请稍后...", "保存数据");
        var jsonData = mini.encode(frmArea.getData());
        $.ajax({
            url: "@Url.RouteUrl(new { controller = "BaseData", action = "SaveArea" })",
            data: AddAntiForgeryToken({ data: jsonData }),
            type: "post",
            success: function (result, textStatus) {
                mini.hideMessageBox(loading);
                if (result.Code != null && result.Code == 0) {
                    winArea.hide();
                    ShowSucessMessage(result.Message);
                    BindDgArea();
                }
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                mini.hideMessageBox(loading);
            }
        });
    }

    function onClearClick() {
        ClearFrmArea();
        txtAreaCode.focus();
    }

    function onUserSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "CustomControl", action = "UserSelection" })",
            title: "选择用户",
            width: 620,
            height: 350,
            allowResize: false,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                    beSelect.validate();
                }
                else if (action == "cancel") {
                    beSelect.setValue("00000000-0000-0000-0000-000000000000");
                    beSelect.setText("请选择");
                    beSelect.validate();
                }
            }
        });
    }

    function onUserSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("请选择");
        this.validate();
    }


    function onBeUserIdValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择项目经理";
                e.isValid = false;
            }
        }
    }
</script>