<div id="myToolbar" class="mini-toolbar" style="border:0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <input id="cbCompany" class="mini-combobox" width="170" textfield="CompanyName" valuefield="Id"
                       data=@Html.Raw(ViewData["Companys"]) onvaluechanged="onCbCompanyValueChanged" />
            </td>
            <td style="white-space: nowrap;">
                <input id="txtFullName" class="mini-textbox" emptytext="姓名" style="width:100px;" onenter="onTxtFullNameEnter" />
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a class="mini-button" iconcls="icon-cancel" plain="true" onclick="onCancelClick">取消</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div class="mini-splitter" style="width:100%;height:100%;" borderstyle="border-left:0px;border-right:0px;border-bottom:0px;">
        <div showcollapsebutton="false" size="170" maxsize="200" minsize="100">
            <div id="treeDepartment" class="mini-tree" style="width:100%; height:100%;" showtreeicon="true" textfield="DepartmentName" valuefield="Id" idfield="Id" parentfield="PId" resultastree="false" expandonload="true"
                 onnodeselect="onTreeDepartmentNodeSelect" onload="onTreeDepartmentLoad"></div>
        </div>
        <div showcollapsebutton="false">
            <div id="dgUser" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false" borderstyle="border:0px;"
                 multiselect="false" showreloadbutton="false" pagesize="10" sizelist="[10,25,50]" fitcolumns="false" onlycheckselection="true" onload="onDgUserLoad" onrowdblclick="onDgUserRowDblClick">
                <div property="columns">
                    <div type="indexcolumn"></div>
                    <div field="UserName" header="用户账号" width="120"></div>
                    <div field="FullName" header="姓名" width="120"></div>
                    <div field="DepartmentName" header="部门" width="120"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var isInitLoad = true;
    var btnSearch = mini.get("btnSearch");
    var cbCompany = mini.get("cbCompany");
    var treeDepartment = mini.get("treeDepartment");
    var txtFullName = mini.get("txtFullName");
    var dgUser = mini.get("dgUser");
    var data = {};

    Init();

    function Init() {
        cbCompany.setValue("@ViewData["CompanyId"].ToString()");
        BindTreeDepartment("@ViewData["CompanyId"].ToString()");
    }

    function onCbCompanyValueChanged(e) {
        cbCompany.setEnabled(false);
        BindTreeDepartment(e.sender.getValue());
    }

    function BindTreeDepartment(companyId) {
        treeDepartment.load("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedDepartmentsByTree" })/" + companyId);
        if (treeDepartment.getList().length > 1) {
            if (isInitLoad == true) {
                var nodes = treeDepartment.findNodes(function (node) {
                    if (node.Id == "@ViewData["DepartmentId"].ToString()")
                        return true;
                });
                treeDepartment.selectNode(nodes[0], true);
                isInitLoad = false;
            }
            else {
                treeDepartment.select(1, true);
            }
        }
        else {
            treeDepartment.select(0, true);
        }
    }

    function onTreeDepartmentNodeSelect(e) {
        setTimeout(function () {
            BindDgUser(cbCompany.getValue(), e.node.Id, txtFullName.getValue());
        }, 50);
    }

    function BindDgUser(companyId, departmentId, fullName) {
        btnSearch.setEnabled(false);
        cbCompany.setEnabled(false);
        var el = treeDepartment.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        if (dgUser.getUrl() == "") {
            dgUser.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedUserAccountsPageBySelect" })");
        }
        dgUser.clearSelect(false);
        dgUser.load({ CompanyId: companyId, DepartmentId: departmentId, FullName: fullName });
    }

    function onTreeDepartmentLoad() {
        cbCompany.setEnabled(true);
    }

    function onDgUserLoad() {
        btnSearch.setEnabled(true);
        cbCompany.setEnabled(true);
        var el = treeDepartment.getEl();
        mini.unmask(el);
    }

    function onDgUserRowDblClick(e) {
        data = {};
        data.id = e.record.Id;
        data.text = e.record.FullName;
        CloseWindow("ok");
    }

    function GetData() {
        return data;
    }

    function CloseWindow(action) {
        if (window.CloseOwnerWindow) {
            return window.CloseOwnerWindow(action);
        }
        else {
            window.close();
        }
    }

    function onTxtFullNameEnter() {
        BindDgUser(cbCompany.getValue(), treeDepartment.getValue(), txtFullName.getValue());
    }

    function onSearchClick() {
        BindDgUser(cbCompany.getValue(), treeDepartment.getValue(), txtFullName.getValue());
    }

    function onCancelClick() {
        data = {};
        CloseWindow("cancel");
    }
</script>