<div id="frmTask" class="form">
    <div id="tabContent" class="mini-tabs" activeindex="0" style="width: 663px; height: 248px;" plain="true">
        <div title="项目信息" style="height:100%">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 80px; text-align: right;">项目经理</td>
                    <td>
                        <input id="AreaManagerName" name="AreaManagerName" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["AreaManagerName"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">总设单位</td>
                    <td>
                        <input id="GeneralDesignName" name="GeneralDesignName" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["GeneralDesignName"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">设计人</td>
                    <td>
                        <input id="DesignRealName" name="DesignRealName" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["DesignRealName"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">设计日期</td>
                    <td>
                        <input id="DesignDateText" name="DesignDateText" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["DesignDateText"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">项目编码</td>
                    <td>
                        <input id="ProjectCode" name="ProjectCode" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["ProjectCode"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">项目进度</td>
                    <td>
                        <input id="ProjectProgressName" name="ProjectProgressName" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["ProjectProgressName"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">启动日期</td>
                    <td>
                        <input id="ProjectBeginDateText" name="ProjectBeginDateText" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["ProjectBeginDateText"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">开通时间</td>
                    <td>
                        <input id="ProjectDateText" name="ProjectDateText" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["ProjectDateText"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">进度简述</td>
                    <td rowspan="2">
                        <input id="ProgressMemos" name="ProgressMemos" class="mini-textarea" readonly="true" style="width: 200px; height: 50px;" value="@ViewData["ProgressMemos"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">总设图</td>
                    <td>
                        <table>
                            <tr>
                                <td style="width:16px">
                                    <a class="fileedit" onclick="onDesignFileClick();"></a>
                                </td>
                                <td>
                                    附件数量：<input id="DesignCount" name="DesignCount" class="mini-textbox" value="@ViewData["DesignCount"]" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td style="width: 80px; text-align: right;">现场摄像</td>
                    <td>
                        <table>
                            <tr>
                                <td style="width:16px">
                                    <a class="fileedit" onclick="onImageFileClick();"></a>
                                </td>
                                <td>
                                    附件数量：<input id="ImageCount" name="ImageCount" class="mini-textbox" value="@ViewData["ImageCount"]" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div title="设备安装" style="height:100%">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 80px; text-align: right;">工程经理</td>
                    <td>
                        <input id="ProjectManagerName5" name="ProjectManagerName5" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["ProjectManagerName5"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">设计单位</td>
                    <td>
                        <input id="DesignCustomerName5" name="DesignCustomerName5" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["DesignCustomerName5"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">施工单位</td>
                    <td>
                        <input id="ConstructionCustomerName5" name="ConstructionCustomerName5" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["ConstructionCustomerName5"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">监理单位</td>
                    <td>
                        <input id="SupervisionCustomerName5" name="SupervisionCustomerName5" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["SupervisionCustomerName5"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">设计人</td>
                    <td>
                        <input id="DesignRealName5" name="DesignRealName5" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["DesignRealName5"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">施工图</td>
                    <td>
                        <table>
                            <tr>
                                <td style="width:16px">
                                    <a class="fileedit" onclick="onDesignFile5Click();"></a>
                                </td>
                                <td>
                                    附件数量：<input id="DesignCount5" name="DesignCount5" class="mini-textbox" value="@ViewData["DesignCount5"]" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">设计日期</td>
                    <td>
                        <input id="DesignDateText5" name="DesignDateText5" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["DesignDateText5"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">设计完成</td>
                    <td>
                        <input id="DesignStateName5" name="DesignStateName5" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["DesignStateName5"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">工程进度</td>
                    <td>
                        <input id="EngineeringProgressName5" name="EngineeringProgressName5" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["EngineeringProgressName5"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">现场摄像</td>
                    <td>
                        <table>
                            <tr>
                                <td style="width:16px">
                                    <a class="fileedit" onclick="onImageFile5Click();"></a>
                                </td>
                                <td>
                                    附件数量：<input id="ImageCount5" name="ImageCount5" class="mini-textbox" value="@ViewData["ImageCount5"]" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">设计简述</td>
                    <td>
                        <input id="DesignMemos5" name="DesignMemos5" class="mini-textarea" readonly="true" style="width: 200px; height: 50px;" value="@ViewData["DesignMemos5"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">进度简述</td>
                    <td>
                        <input id="ProgressMemos5" name="ProgressMemos5" class="mini-textarea" readonly="true" style="width: 200px; height: 50px;" value="@ViewData["ProgressMemos5"]" />
                    </td>
                </tr>
            </table>
        </div>
        <div title="线路" style="height:100%">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 80px; text-align: right;">工程经理</td>
                    <td>
                        <input id="ProjectManagerName6" name="ProjectManagerName6" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["ProjectManagerName6"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">设计单位</td>
                    <td>
                        <input id="DesignCustomerName6" name="DesignCustomerName6" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["DesignCustomerName6"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">施工单位</td>
                    <td>
                        <input id="ConstructionCustomerName6" name="ConstructionCustomerName6" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["ConstructionCustomerName6"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">监理单位</td>
                    <td>
                        <input id="SupervisionCustomerName6" name="SupervisionCustomerName6" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["SupervisionCustomerName6"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">设计人</td>
                    <td>
                        <input id="DesignRealName6" name="DesignRealName6" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["DesignRealName6"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">施工图</td>
                    <td>
                        <table>
                            <tr>
                                <td style="width:16px">
                                    <a class="fileedit" onclick="onDesignFile6Click();"></a>
                                </td>
                                <td>
                                    附件数量：<input id="DesignCount6" name="DesignCount6" class="mini-textbox" value="@ViewData["DesignCount6"]" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">设计日期</td>
                    <td>
                        <input id="DesignDateText6" name="DesignDateText6" class="mini-textbox" readonly="true" style="width: 200px;" value="@ViewData["DesignDateText6"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">设计完成</td>
                    <td>
                        <input id="DesignStateName6" name="DesignStateName6" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["DesignStateName6"]" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">工程进度</td>
                    <td>
                        <input id="EngineeringProgressName6" name="EngineeringProgressName6" class="mini-textbox" readonly="true" style="width:200px;" value="@ViewData["EngineeringProgressName6"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">现场摄像</td>
                    <td>
                        <table>
                            <tr>
                                <td style="width:16px">
                                    <a class="fileedit" onclick="onImageFile6Click();"></a>
                                </td>
                                <td>
                                    附件数量：<input id="ImageCount6" name="ImageCount6" class="mini-textbox" value="@ViewData["ImageCount6"]" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; text-align: right;">设计简述</td>
                    <td>
                        <input id="DesignMemos6" name="DesignMemos6" class="mini-textarea" readonly="true" style="width: 200px; height: 50px;" value="@ViewData["DesignMemos6"]" />
                    </td>
                    <td style="width: 80px; text-align: right;">进度简述</td>
                    <td>
                        <input id="ProgressMemos6" name="ProgressMemos6" class="mini-textarea" readonly="true" style="width: 200px; height: 50px;" value="@ViewData["ProgressMemos6"]" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();
    var frmTask = new mini.Form("#frmTask");
    var tabContent = mini.get("tabContent");

    var designCount = mini.get("DesignCount");
    designCount.setWidth("10px");
    if (designCount.setReadOnly) designCount.setReadOnly(true);     //只读
    if (designCount.setIsValid) designCount.setIsValid(true);      //去除错误提示
    if (designCount.addCls) designCount.addCls("asLabel");          //增加asLabel外观

    var imageCount = mini.get("ImageCount");
    imageCount.setWidth("10px");
    if (imageCount.setReadOnly) imageCount.setReadOnly(true);     //只读
    if (imageCount.setIsValid) imageCount.setIsValid(true);      //去除错误提示
    if (imageCount.addCls) imageCount.addCls("asLabel");          //增加asLabel外观

    var designCount5 = mini.get("DesignCount5");
    designCount5.setWidth("10px");
    if (designCount5.setReadOnly) designCount5.setReadOnly(true);     //只读
    if (designCount5.setIsValid) designCount5.setIsValid(true);      //去除错误提示
    if (designCount5.addCls) designCount5.addCls("asLabel");          //增加asLabel外观

    var designCount6 = mini.get("DesignCount6");
    designCount6.setWidth("10px");
    if (designCount6.setReadOnly) designCount6.setReadOnly(true);     //只读
    if (designCount6.setIsValid) designCount6.setIsValid(true);      //去除错误提示
    if (designCount6.addCls) designCount6.addCls("asLabel");          //增加asLabel外观

    var imageCount5 = mini.get("ImageCount5");
    imageCount5.setWidth("10px");
    if (imageCount5.setReadOnly) imageCount5.setReadOnly(true);     //只读
    if (imageCount5.setIsValid) imageCount5.setIsValid(true);      //去除错误提示
    if (imageCount5.addCls) imageCount5.addCls("asLabel");          //增加asLabel外观

    var imageCount6 = mini.get("ImageCount6");
    imageCount6.setWidth("10px");
    if (imageCount6.setReadOnly) imageCount6.setReadOnly(true);     //只读
    if (imageCount6.setIsValid) imageCount6.setIsValid(true);      //去除错误提示
    if (imageCount6.addCls) imageCount6.addCls("asLabel");          //增加asLabel外观

    init();

    function init() {
        if ("@ViewData["Mark5"]" == "1") {
            tabContent.updateTab(tabContent.getTab(5), { visible: true });
        }
        else {
            tabContent.updateTab(tabContent.getTab(5), { visible: false });
        }
        if ("@ViewData["Mark6"]" == "1") {
            tabContent.updateTab(tabContent.getTab(6), { visible: true });
        }
        else {
            tabContent.updateTab(tabContent.getTab(6), { visible: false });
        }
    }

    function onMapClick() {
        var placeId = "@ViewData["PlaceId"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            var url, data, getId;
            url = "@Url.RouteUrl(new { controller = "Map", action = "GetPlacePoint" })";
            data = { PlaceId: placeId, AreaId: "00000000-0000-0000-0000-000000000000", PlaceName: "", Lng: 0, Lat: 0, Profession: 1 };
            getId = placeId;
            $.ajax({
                url: url,
                data: data,
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null && result.Id == getId) {
                        var title;
                        if (placeId == "00000000-0000-0000-0000-000000000000") {
                            title = result.PlanningName;
                        }
                        else {
                            title = result.PlaceName;
                        }
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: title,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            },
                            ondestroy: function (action) {
                                if (action == "ok") {
                                    var iframe = this.getIFrameEl();
                                    var data = iframe.contentWindow.GetData();
                                    data = mini.clone(data);
                                    txtLng.setValue(data.Lng);
                                    txtLat.setValue(data.Lat);
                                }
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onFileClick() {
        var id = "@ViewData["PlaceId"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetPlaceFiles" })",
                data: { PlaceId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "附件",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onDesignFileClick() {
        var id = "@ViewData["Id"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetGeneralDesignFiles" })",
                data: { ProjectTaskId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "总设图",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onImageFileClick() {
        var id = "@ViewData["Id"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetProjectProgressFiles" })",
                data: { ProjectTaskId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "现场摄像",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onDesignFile5Click() {
        var id = "@ViewData["Id5"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetEngineeringDesignFiles" })",
                data: { EngineeringTaskId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "施工图",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onDesignFile6Click() {
        var id = "@ViewData["Id6"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetEngineeringDesignFiles" })",
                data: { EngineeringTaskId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "施工图",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onImageFile5Click() {
        var id = "@ViewData["Id5"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetEngineeringProgressFiles" })",
                data: { EngineeringTaskId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "现场摄像",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onImageFile6Click() {
        var id = "@ViewData["Id6"]";
        var el = document.body;
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetEngineeringProgressFiles" })",
                data: { EngineeringTaskId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "现场摄像",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }
</script>
