<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-help" plain="true" href="@Url.RouteUrl(new { controller = "File", action = "DownloadHelpFiles" })?FileName=ConstructionPlanningReport" target="_blank"></a>当前位置：基站建维>基站报表>新增基站建设进度表
            </td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a id="btnShowMap" class="mini-button" iconcls="icon-map" plain="true" onclick="onShowMapClick">地图导航</a>
                <a class="mini-button" iconcls="icon-excel" plain="true" onclick="ExportExcel">导出Excel</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgPlanning" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" fitcolumns="false" onlycheckselection="true" showreloadbutton="false" pagesize="15" sizelist="[15,30,50,100]"
         virtualscroll="false" frozenstartcolumn="0" frozenendcolumn="3" onload="onDgPlanningLoad" ondrawcell="onDrawCell" oncellclick="onCellClick">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="ConstructionTaskId"></div>
            <div field="PlanningCode" header="规划编码" width="80"></div>
            <div field="PlanningName" header="规划名称" width="150"></div>
            <div field="AreaName" header="区域" width="80"></div>
            <div field="ReseauName" header="网格" width="80"></div>
            <div field="PlaceCategoryName" header="基站类型" width="80"></div>
            <div field="Lng" header="经度" width="80"></div>
            <div field="Lat" header="纬度" width="80"></div>
            <div field="Map" header="导航图" width="50"></div>
            <div type="comboboxcolumn" field="Urgency" header="紧要程度" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Urgency"]) />
            </div>
            <div type="comboboxcolumn" field="MobileDemand" header="移动需求" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Demand"]) />
            </div>
            <div type="comboboxcolumn" field="TelecomDemand" header="电信需求" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Demand"]) />
            </div>
            <div type="comboboxcolumn" field="UnicomDemand" header="联通需求" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Demand"]) />
            </div>
            <div type="comboboxcolumn" field="DemandState" header="确认状态" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["DemandState"]) />
            </div>
            <div field="AddressingUserFullName" header="租赁人" width="100"></div>
            <div type="comboboxcolumn" field="Issued" header="是否下达" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Bool"]) />
            </div>
            <div type="comboboxcolumn" field="AddressingState" header="寻址状态" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["AddressingState"]) />
            </div>
            <div field="Remarks" header="备注" width="150"></div>
            <div field="FullName" header="规划人" width="100"></div>
            <div field="CreateDate" header="规划日期" width="100" dateformat="yyyy-MM-dd"></div>
            <div field="ProjectName" header="建设项目" width="200"></div>
            <div field="ProjectManagerName" header="工程经理" width="100"></div>
            <div type="comboboxcolumn" field="ConstructionProgress" header="建设进度" width="60">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["ConstructionProgress"]) />
            </div>
            <div field="ProgressMemos" header="进度简述" width="100"></div>
            <div field="ConCreateDate" header="登记日期" width="100" dateformat="yyyy-MM-dd"></div>
        </div>
    </div>
</div>
<div id="winQuery" class="mini-window" style="width: 615px; height: 320px;"
     showmodal="true" allowresize="false" title="查询条件">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">规划日期</td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><input id="dpBeginDate" class="mini-datepicker" style="width:98px;" value="new Date()" showclearbutton="false" allowinput="false" /></td>
                        <td>至</td>
                        <td><input id="dpEndDate" class="mini-datepicker" style="width:98px;" value="new Date()" showclearbutton="false" allowinput="false" /></td>
                    </tr>
                </table>
            </td>
            <td style="width: 80px; text-align: right;">规划编码</td>
            <td>
                <input id="txtPlanningCode" class="mini-textbox" style="width:208px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">规划名称</td>
            <td>
                <input id="txtPlanningName" class="mini-textbox" style="width:208px;" />
            </td>
            <td style="width: 80px; text-align: right;">基站类型</td>
            <td>
                <input id="cbPlaceCategoryId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="PlaceCategoryName" valuefield="Id" data=@Html.Raw(ViewData["PlaceCategorysByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">区域</td>
            <td>
                <input id="cbAreaId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="AreaName" valuefield="Id" data=@Html.Raw(ViewData["AreasByAll"])
                       onvaluechanged="onCbAreaIdValueChanged" />
            </td>
            <td style="width: 80px; text-align: right;">网格</td>
            <td>
                <input id="cbReseauId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="ReseauName" valuefield="Id" data="[{Id:'00000000-0000-0000-0000-000000000000',ReseauName:'全部'}]"
                       onload="onCbReseauIdLoad" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">规划人</td>
            <td>
                <input id="beCreateUserId" style="width:208px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="全部" value="00000000-0000-0000-0000-000000000000"
                       onbuttonclick="onCreateUserSelectButtonClick" oncloseclick="onCreateUserSelectButtonCloseClick" />
            </td>
            <td style="width: 80px; text-align: right;">基站名称</td>
            <td>
                <input id="txtPlaceName" class="mini-textbox" style="width:208px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">移动需求</td>
            <td>
                <input id="cbMobileDemand" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["DemandByAll"]) />
            </td>
            <td style="width: 80px; text-align: right;">紧要程度</td>
            <td>
                <input id="cbUrgency" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["UrgencyByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">电信需求</td>
            <td>
                <input id="cbTelecomDemand" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["DemandByAll"]) />
            </td>
            <td style="width: 80px; text-align: right;">是否下达</td>
            <td>
                <input id="cbIssued" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["BoolByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">联通需求</td>
            <td>
                <input id="cbUnicomDemand" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["DemandByAll"]) />
            </td>
            <td style="width: 80px; text-align: right;">确认状态</td>
            <td>
                <input id="cbDemandState" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["DemandStateByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">租赁人</td>
            <td>
                <input id="beAddressingUserId" style="width:208px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="全部" value="00000000-0000-0000-0000-000000000000"
                       onbuttonclick="onAddressingUserSelectButtonClick" oncloseclick="onAddressingUserSelectButtonCloseClick" />
            </td>
            <td style="width: 80px; text-align: right;">寻址状态</td>
            <td>
                <input id="cbAddressingState" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["AddressingStateByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">工程经理</td>
            <td>
                <input id="beProjectManagerId" style="width:208px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="全部" value="00000000-0000-0000-0000-000000000000"
                       onbuttonclick="onProjectManagerSelectButtonClick" oncloseclick="onProjectManagerSelectButtonCloseClick" />
            </td>
            <td style="width: 80px; text-align: right;">建设进度</td>
            <td>
                <input id="cbConstructionProgress" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["ConstructionProgressAll"]) />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onOKClick">确定</a>
    </div>
</div>
<iframe id="exportIFrame" style="display:none;"></iframe>
<!--导出Excel相关HTML-->
<form id="excelForm" action="export.aspx?type=excel" method="post" target="excelIFrame">
    <input type="hidden" name="columns" id="excelData" />
</form>
<iframe id="excelIFrame" name="excelIFrame" style="display:none;"></iframe>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgPlanning = mini.get("dgPlanning");
    var winQuery = mini.get("winQuery");
    var dpBeginDate = mini.get("dpBeginDate");
    var dpEndDate = mini.get("dpEndDate");
    var txtPlanningCode = mini.get("txtPlanningCode");
    var txtPlanningName = mini.get("txtPlanningName");
    var cbPlaceCategoryId = mini.get("cbPlaceCategoryId");
    var cbAreaId = mini.get("cbAreaId");
    var cbReseauId = mini.get("cbReseauId");
    var cbUrgency = mini.get("cbUrgency");
    var cbMobileDemand = mini.get("cbMobileDemand");
    var cbTelecomDemand = mini.get("cbTelecomDemand");
    var cbUnicomDemand = mini.get("cbUnicomDemand");
    var cbDemandState = mini.get("cbDemandState");
    var cbIssued = mini.get("cbIssued");
    var cbAddressingState = mini.get("cbAddressingState");
    var beCreateUserId = mini.get("beCreateUserId");
    var txtPlaceName = mini.get("txtPlaceName");
    var beAddressingUserId = mini.get("beAddressingUserId");
    var beProjectManagerId = mini.get("beProjectManagerId");
    var cbConstructionProgress = mini.get("cbConstructionProgress");

    Init();

    function Init() {
        dgPlanning.hideColumn(2);
        dpBeginDate.setValue(new Date().DateAdd("y", -1));
        //BindDgPlanning();
    }

    function BindDgPlanning() {
        btnSearch.setEnabled(false);
        var query_BeginDate = dpBeginDate.getFormValue();
        var query_EndDate = dpEndDate.getFormValue();
        var query_PlanningCode = txtPlanningCode.getValue();
        var query_PlanningName = txtPlanningName.getValue();
        var query_PlaceCategoryId = cbPlaceCategoryId.getValue();
        var query_AreaId = cbAreaId.getValue();
        var query_ReseauId = cbReseauId.getValue();
        var query_Urgency = cbUrgency.getValue();
        var query_MobileDemand = cbMobileDemand.getValue();
        var query_TelecomDemand = cbTelecomDemand.getValue();
        var query_UnicomDemand = cbUnicomDemand.getValue();
        var query_DemandState = cbDemandState.getValue();
        var query_Issued = cbIssued.getValue();
        var query_AddressingState = cbAddressingState.getValue();
        var query_CreateUserId = beCreateUserId.getValue();
        var query_PlaceName = txtPlaceName.getValue();
        var query_AddressingUserId = beAddressingUserId.getValue();
        var query_ProjectManagerId = beProjectManagerId.getValue();
        var query_ConstructionProgress = cbConstructionProgress.getValue();
        if (dgPlanning.getUrl() == "") {
            dgPlanning.setUrl("@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetConstructionPlanningsReportPage" })");
        }
        dgPlanning.clearSelect(false);
        dgPlanning.load({ BeginDate: query_BeginDate, EndDate: query_EndDate, PlanningCode: query_PlanningCode, PlanningName: query_PlanningName, PlaceCategoryId: query_PlaceCategoryId, AreaId: query_AreaId, ReseauId: query_ReseauId, Urgency: query_Urgency, MobileDemand: query_MobileDemand, TelecomDemand: query_TelecomDemand, UnicomDemand: query_UnicomDemand, DemandState: query_DemandState, Issued: query_Issued, AddressingState: query_AddressingState, CreateUserId: query_CreateUserId, PlaceName: query_PlaceName, AddressingUserId: query_AddressingUserId, ProjectManagerId: query_ProjectManagerId, ConstructionProgress: query_ConstructionProgress });
    }

    function onDgPlanningLoad() {
        btnSearch.setEnabled(true);
    }

    function onDrawCell(e) {
        //if (e.record.Issued == 1) {
        //    e.rowCls = "rowIssued";
        //}
        if (e.field == "Map") {
            e.cellHtml = "<a class='navigationmap' onclick='onMapClick(\"" + e.record.Id + "\",\"" + e.record.PlaceId + "\");'></a>";
        }
        else if (e.field == "ProjectName") {
            e.cellStyle = "color:blue";
        }
    }

    function onMapClick(id, placeId) {
        var el = dgPlanning.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            var url, data, getId;
            if (placeId == "00000000-0000-0000-0000-000000000000") {
                url = "@Url.RouteUrl(new { controller = "Map", action = "GetPlanningPoint" })";
                data = { PlanningId: id, AreaId: "00000000-0000-0000-0000-000000000000", PlanningName: "", Lng: 0, Lat: 0, Profession: 1 };
                getId = id;
            }
            else {
                url = "@Url.RouteUrl(new { controller = "Map", action = "GetPlacePoint" })";
                data = { PlaceId: placeId, AreaId: "00000000-0000-0000-0000-000000000000", PlaceName: "", Lng: 0, Lat: 0, Profession: 1 };
                getId = placeId;
            }
            $.ajax({
                url: url,
                data: data,
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null && result.Id == getId) {
                        var title;
                        if (placeId == "00000000-0000-0000-0000-000000000000") {
                            title = result.PlanningName;
                        }
                        else {
                            title = result.PlaceName;
                        }
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: title,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function BindCbReseauId(areaId) {
        cbReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + areaId + "?getType=2");
    }

    function onCbAreaIdValueChanged(e) {
        BindCbReseauId(e.sender.getValue());
    }

    function onCbReseauIdLoad() {
        cbReseauId.setValue("00000000-0000-0000-0000-000000000000");
    }

    function onCreateUserSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "CustomControl", action = "UserSelection" })",
            title: "选择用户",
            width: 620,
            height: 350,
            allowResize: false,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                    beSelect.validate();
                }
                else if (action == "cancel") {
                    beSelect.setValue("00000000-0000-0000-0000-000000000000");
                    beSelect.setText("全部");
                    beSelect.validate();
                }
            }
        });
    }

    function onCreateUserSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("全部");
        this.validate();
    }

    function onAddressingUserSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "CustomControl", action = "UserSelection" })",
            title: "选择用户",
            width: 620,
            height: 350,
            allowResize: false,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                    beSelect.validate();
                }
                else if (action == "cancel") {
                    beSelect.setValue("00000000-0000-0000-0000-000000000000");
                    beSelect.setText("全部");
                    beSelect.validate();
                }
            }
        });
    }

    function onAddressingUserSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("全部");
        this.validate();
    }

    function onProjectManagerSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "CustomControl", action = "UserSelection" })",
            title: "选择用户",
            width: 620,
            height: 350,
            allowResize: false,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                    beSelect.validate();
                }
                else if (action == "cancel") {
                    beSelect.setValue("00000000-0000-0000-0000-000000000000");
                    beSelect.setText("全部");
                    beSelect.validate();
                }
            }
        });
    }

    function onProjectManagerSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("全部");
        this.validate();
    }

    function onSearchClick() {
        winQuery.show();
    }

    function onOKClick() {
        BindDgPlanning();
        winQuery.hide();
    }

    function ExportExcel() {
        var columns = dgPlanning.getBottomColumns();
        function getColumns(columns) {
            columns = columns.clone();
            for (var i = columns.length - 1; i >= 0; i--) {
                var column = columns[i];
                if (!column.field) {
                    columns.removeAt(i);
                } else {
                    var c = { header: column.header, field: column.field };
                    columns[i] = c;
                }
            }
            return columns;
        }

        var columns = getColumns(columns);
        var json = mini.encode(columns);
        document.getElementById("excelData").value = json;
        var excelForm = document.getElementById("excelForm");
        excelForm.action = "@Url.RouteUrl(new { controller = "DataOutput", action = "ExportConstructionTaskPlanningsExcel" })";
        excelForm.submit();
    }

    function onShowMapClick() {
        var planningIdList = "";
        var rows = dgPlanning.getData();
        if (rows.length != 0) {
            for (var i = 0; i < rows.length; i++) {
                planningIdList = planningIdList + rows[i].Id;
                if (i != rows.length - 1) {
                    planningIdList = planningIdList + ",";
                }
            }
        }
        else {
            mini.alert("请先查询数据");
            return;
        }
        setTimeout(function () {
            var url, data;
            url = "@Url.RouteUrl(new { controller = "Map", action = "GetPlanningPoints" })";
            data = { PlanningIdList: planningIdList };
            $.ajax({
                url: url,
                data: data,
                type: "post",
                async: false,
                success: function (result, textStatus) {
                    var title;
                    title = "地图导航";
                    mini.open({
                        url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                        title: title,
                        iconCls: "icon-map",
                        width: 800,
                        height: 550,
                        showMaxButton: true,
                        onload: function () {
                            var iframe = this.getIFrameEl();
                            var data = result;
                            iframe.contentWindow.SetData(data);
                        },
                        ondestroy: function (action) {
                            if (action == "ok") {
                                var iframe = this.getIFrameEl();
                                var data = iframe.contentWindow.GetData();
                                data = mini.clone(data);
                            }
                        }
                    });
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                }
            });
        }, 50);
    }

    function onCellClick(e) {
        if (e.column.field == "ProjectName") {
            var field = e.field;
            var row = e.row;
            if (row[field] != "") {
                var el = dgPlanning.getEl();
                mini.mask({
                    el: el,
                    cls: 'mini-mask-loading',
                    html: '加载中...'
                });
                setTimeout(function () {
                    mini.unmask(el);
                    mini.open({
                        url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "TaskCard" })" + "/" + e.record.ConstructionTaskId,
                        title: "任务信息",
                        //iconCls: "icon-editor",
                        width: 640,
                        height: 500,
                    });
                }, 50);
            }
        }
    }
</script>
