<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-help" plain="true" href="@Url.RouteUrl(new { controller = "File", action = "DownloadHelpFiles" })?FileName=OperatorsPlanningDemand" target="_blank"></a>当前位置：基站建维>规划寻址>改造站需求确认
            </td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a class="mini-button" iconcls="icon-edit" plain="true" onclick="onConfirmClick">需求确认</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgOperatorsPlanningDemand" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" fitcolumns="false" onlycheckselection="true" showreloadbutton="false" pagesize="15" sizelist="[15,30,50,100]"
         virtualscroll="false" frozenstartcolumn="0" frozenendcolumn="3"
         onshowrowdetail="onShowRowDetail" ondrawcell="onDrawCell" onload="onDgOperatorsPlanningDemandLoad">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="PlaceCode" header="基站编码" width="80"></div>
            <div field="PlaceName" header="基站名称" width="150"></div>
            <div type="expandcolumn">#</div>
            <div field="AreaName" header="区域" width="80"></div>
            <div field="ReseauName" header="网格" width="80"></div>
            <div field="PlaceCategoryName" header="基站类型" width="80"></div>
            <div field="Lng" header="经度" width="80"></div>
            <div field="Lat" header="纬度" width="80"></div>
            <div field="Map" header="导航图" width="50"></div>
            <div type="comboboxcolumn" field="Demand" header="需求确认" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Demand"]) />
            </div>
            <div field="FullName" header="请求人" width="100"></div>
            <div field="ConfirmDate" header="请求日期" width="100" dateformat="yyyy-MM-dd"></div>
        </div>
    </div>
</div>
<div id="winQuery" class="mini-window" style="width: 350px; height: 240px;"
     showmodal="true" allowresize="false" title="查询条件">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">规划编码</td>
            <td>
                <input id="txtPlanningCode" class="mini-textbox" style="width:208px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">规划名称</td>
            <td>
                <input id="txtPlanningName" class="mini-textbox" style="width:208px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">基站类型</td>
            <td>
                <input id="cbPlaceCategoryId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="PlaceCategoryName" valuefield="Id" data=@Html.Raw(ViewData["PlaceCategorysByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">区域</td>
            <td>
                <input id="cbAreaId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="AreaName" valuefield="Id" data=@Html.Raw(ViewData["AreasByAll"])
                       onvaluechanged="onCbAreaIdValueChanged" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">网格</td>
            <td>
                <input id="cbReseauId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="ReseauName" valuefield="Id" data="[{Id:'00000000-0000-0000-0000-000000000000',ReseauName:'全部'}]"
                       onload="onCbReseauIdLoad" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">需求确认</td>
            <td>
                <input id="cbDemand" class="mini-combobox" value="1" style="width:208px;" data=@Html.Raw(ViewData["DemandByAll"]) />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onOKClick">确定</a>
    </div>
</div>
<div id="winConfirm" class="mini-window" style="width: 230px; height: 110px;"
     showmodal="true" allowresize="false" title="需求确认">
    <table style="width: 100%;">
        <tr>
            <td style="width: 70px; text-align: right;">请确认</td>
            <td>
                <input id="cbDemandConfirm" class="mini-combobox" value="2" style="width:100px;" data=@Html.Raw(ViewData["DemandByConfirm"]) />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onConfirmOKClick">确定</a>
    </div>
</div>
<div id="divDetail" style="display:none; height:150px;">
    <div id="dgOperatorsPlanning" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" fitcolumns="false" onlycheckselection="true" showpager="false"
         virtualscroll="false" ondrawcell="onDgOperatorsPlanningDrawCell">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div field="PlanningCode" header="规划编码" width="80"></div>
            <div field="PlanningName" header="规划名称" width="150"></div>
            <div field="AreaName" header="区域" width="80"></div>
            <div field="PlaceCategoryName" header="基站类型" width="80"></div>
            <div field="Lng" header="经度" width="80"></div>
            <div field="Lat" header="纬度" width="80"></div>
            <div field="Map" header="导航图" width="50"></div>
            <div field="CompanyName" header="规划公司" width="100"></div>
            <div field="FullName" header="规划人" width="100"></div>
            <div field="CreateDate" header="规划日期" width="100" dateformat="yyyy-MM-dd"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgOperatorsPlanningDemand = mini.get("dgOperatorsPlanningDemand");
    var winQuery = mini.get("winQuery");
    var txtPlanningCode = mini.get("txtPlanningCode");
    var txtPlanningName = mini.get("txtPlanningName");
    var cbPlaceCategoryId = mini.get("cbPlaceCategoryId");
    var cbAreaId = mini.get("cbAreaId");
    var cbReseauId = mini.get("cbReseauId");
    var cbDemand = mini.get("cbDemand");
    var winConfirm = mini.get("winConfirm");
    var cbDemandConfirm = mini.get("cbDemandConfirm");
    var divDetail = $("#divDetail")[0];
    var dgOperatorsPlanning = mini.get("dgOperatorsPlanning");

    Init();

    function Init() {
        BindDgOperatorsPlanningDemand();
    }

    function BindDgOperatorsPlanningDemand() {
        btnSearch.setEnabled(false);
        var query_PlanningCode = txtPlanningCode.getValue();
        var query_PlanningName = txtPlanningName.getValue();
        var query_PlaceCategoryId = cbPlaceCategoryId.getValue();
        var query_AreaId = cbAreaId.getValue();
        var query_ReseauId = cbReseauId.getValue();
        var query_Demand = cbDemand.getValue();
        if (dgOperatorsPlanningDemand.getUrl() == "") {
            dgOperatorsPlanningDemand.setUrl("@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetOperatorsPlanningDemandsPage" })");
        }
        dgOperatorsPlanningDemand.clearSelect(false);
        dgOperatorsPlanningDemand.load({ PlanningCode: query_PlanningCode, PlanningName: query_PlanningName, PlaceCategoryId: query_PlaceCategoryId, AreaId: query_AreaId, ReseauId: query_ReseauId, Demand: query_Demand });
    }

    function onDgOperatorsPlanningDemandLoad() {
        btnSearch.setEnabled(true);
    }

    function onShowRowDetail(e) {
        dgOperatorsPlanning.clearRows();
        var grid = e.sender;
        var row = e.record;
        var td = grid.getRowDetailCellEl(row);
        td.appendChild(divDetail);
        divDetail.style.display = "block";
        BindDgOperatorsPlanning(row.Id);
    }

    function onDrawCell(e) {
        if (e.field == "Map") {
            e.cellHtml = "<a class='navigationmap' onclick='onMapClick(\"" + e.record.Id + "\");'></a>";
        }
    }

    function onMapClick(id) {
        var el = dgOperatorsPlanningDemand.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "Map", action = "GetPlaceAndAssociatedOperatorsPlanningsPoint" })",
                data: { OperatorsPlanningDemandId: id },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: result.PlaceName,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function BindDgOperatorsPlanning(operatorsPlanningDemandId) {
        if (dgOperatorsPlanning.getUrl() == "") {
            dgOperatorsPlanning.setUrl("@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetOperatorsPlanningsByOperatorsPlanningDemandId" })");
        }
        dgOperatorsPlanning.load({ OperatorsPlanningDemandId: operatorsPlanningDemandId });
    }

    function onDgOperatorsPlanningDrawCell(e) {
        if (e.field == "Map") {
            e.cellHtml = "<a class='navigationmap' onclick='onDgOperatorsPlanningMapClick(\"" + e.record.Id + "\");'></a>";
        }
    }

    function onDgOperatorsPlanningMapClick(id) {
        var el = dgOperatorsPlanning.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "Map", action = "GetOperatorsPlanningPoint" })",
                data: { OperatorsPlanningId: id, AreaId: "00000000-0000-0000-0000-000000000000", PlanningName: "", Lng: 0, Lat: 0, Profession: 1 },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null && result.Id == id) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: result.PlanningName,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function BindCbReseauId(areaId) {
        cbReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + areaId + "?getType=2");
    }

    function onCbAreaIdValueChanged(e) {
        BindCbReseauId(e.sender.getValue());
    }

    function onCbReseauIdLoad() {
        cbReseauId.setValue("00000000-0000-0000-0000-000000000000");
    }

    function onSearchClick() {
        winQuery.show();
    }

    function onOKClick() {
        BindDgOperatorsPlanningDemand();
        winQuery.hide();
    }

    function onConfirmClick() {
        var rows = dgOperatorsPlanningDemand.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择要操作的数据");
        }
        else {
            cbDemandConfirm.setValue(2);
            winConfirm.show();
        }
    }

    function onConfirmOKClick() {
        var rows = dgOperatorsPlanningDemand.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择要操作的数据");
        }
        else {
            var loading = mini.loading("处理中,请稍后...", "需求确认");
            var jsonData = mini.encode(rows);
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "OperatorsPlanningDemandConfirm" })",
                data: AddAntiForgeryToken({ Demand: cbDemandConfirm.getValue(), data: jsonData }),
                type: "post",
                success: function (result, textStatus) {
                    mini.hideMessageBox(loading);
                    if (result.Code != null && result.Code == 0) {
                        winConfirm.hide();
                        ShowSucessMessage(result.Message);
                        BindDgOperatorsPlanningDemand();
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.hideMessageBox(loading);
                }
            });
        }
    }
</script>