<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-help" plain="true" href="@Url.RouteUrl(new { controller = "File", action = "DownloadHelpFiles" })?FileName=PlaceMaintenance" target="_blank"></a>当前位置：基站建维>维护管理>基站导入
            </td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a class="mini-button" iconcls="icon-edit" plain="true" onclick="onEditClick">修改</a>
                <a class="mini-button" iconcls="icon-add" plain="true" onclick="onImportClick">批量导入</a>
                <a class="mini-button" iconcls="icon-edit" plain="true" onclick="onUpdateClick">批量更新</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgPlace" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" fitcolumns="false" onlycheckselection="true" showreloadbutton="false" pagesize="15" sizelist="[15,30,50,100]"
         virtualscroll="false" frozenstartcolumn="0" frozenendcolumn="3" ondrawcell="onDrawCell" onload="onDgPlaceLoad" oncellclick="onCellClick">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="IsFile" header=""></div>
            <div field="PlaceCode" header="基站编码" width="80"></div>
            <div field="PlaceName" header="基站名称" width="150"></div>
            <div field="PlaceCategoryName" header="基站类型" width="80"></div>
            <div field="AreaName" header="区域" width="80"></div>
            <div field="ReseauName" header="网格" width="80"></div>
            <div field="Lng" header="经度" width="80"></div>
            <div field="Lat" header="纬度" width="80"></div>
            <div field="Map" header="导航图" width="50"></div>
            <div field="File" header="附件" width="50"></div>
            <div type="comboboxcolumn" field="Importance" header="重要性程度" width="70">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["Importance"]) />
            </div>
            <div field="PlaceOwnerName" header="产权" width="60"></div>
            <div field="OwnerName" header="业主名称" width="100"></div>
            <div field="OwnerContact" header="联系人" width="100"></div>
            <div field="OwnerPhoneNumber" header="联系方式" width="100"></div>
            <div type="comboboxcolumn" field="State" header="状态" width="50">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["State"]) />
            </div>
            <div field="FullName" header="登记人" width="100"></div>
            <div field="CreateDate" header="登记日期" width="100" dateformat="yyyy-MM-dd"></div>
        </div>
    </div>
</div>
<div id="winQuery" class="mini-window" style="width: 600px; height: 190px;"
     showmodal="true" allowresize="false" title="查询条件">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">基站编码</td>
            <td>
                <input id="txtPlaceCode" class="mini-textbox" style="width:200px;" />
            </td>
            <td style="width: 80px; text-align: right;">基站名称</td>
            <td>
                <input id="txtPlaceName" class="mini-textbox" style="width:200px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">基站类型</td>
            <td>
                <input id="cbPlaceCategoryId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="PlaceCategoryName" valuefield="Id" data=@Html.Raw(ViewData["PlaceCategorysByAll"]) />
            </td>
            <td style="width: 80px; text-align: right;">产权</td>
            <td>
                <input id="cbPlaceOwner" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="PlaceOwnerName" valuefield="Id" data=@Html.Raw(ViewData["PlaceOwnersByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">区域</td>
            <td>
                <input id="cbAreaId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="AreaName" valuefield="Id" data=@Html.Raw(ViewData["AreasByAll"])
                       onvaluechanged="onCbAreaIdValueChanged" />
            </td>
            <td style="width: 80px; text-align: right;">网格</td>
            <td>
                <input id="cbReseauId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="ReseauName" valuefield="Id" data="[{Id:'00000000-0000-0000-0000-000000000000',ReseauName:'全部'}]"
                       onload="onCbReseauIdLoad" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">重要性程度</td>
            <td>
                <input id="cbImportance" class="mini-combobox" value="0" style="width:200px;" data=@Html.Raw(ViewData["ImportanceByAll"]) />
            </td>
            <td style="width: 80px; text-align: right;">状态</td>
            <td>
                <input id="cbState" class="mini-combobox" value="0" style="width:200px;" data=@Html.Raw(ViewData["StateByAll"]) />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onOKClick">确定</a>
    </div>
</div>
<div id="winPlace" class="mini-window" style="width: 600px; height: 400px;"
     showmodal="true" allowresize="false">
    <div id="frmPlace" class="form">
        <input class="mini-hidden" id="Id" name="Id" />
        <input class="mini-hidden" id="FileIdList" name="FileIdList" />
        <table style="width: 100%;">
            <tr>
                <td style="width: 80px; text-align: right;">基站编码</td>
                <td>
                    <input id="PlaceCode" name="PlaceCode" class="mini-textbox" readonly="true" style="width: 200px;" />
                </td>
                <td style="width: 80px; text-align: right;">基站名称</td>
                <td>
                    <input id="PlaceName" name="PlaceName" class="mini-textbox" requirederrortext="请输入基站名称" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">基站类型</td>
                <td>
                    <input id="PlaceCategoryId" name="PlaceCategoryId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="PlaceCategoryName" valuefield="Id" data=@Html.Raw(ViewData["PlaceCategorysBySelect"])
                           required="true" onvalidation="onPlaceCategoryIdValidation" />
                </td>
                <td style="width: 80px; text-align: right;">产权</td>
                <td>
                    <input id="PlaceOwner" name="PlaceOwner" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="PlaceOwnerName" valuefield="Id" data=@Html.Raw(ViewData["PlaceOwnersBySelect"])
                           required="true" onvalidation="onPlaceOwnerValidation" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">区域</td>
                <td>
                    <input id="AreaId" name="AreaId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="AreaName" valuefield="Id" data=@Html.Raw(ViewData["AreasBySelect"])
                           required="true" onvalidation="onAreaIdValidation" onvaluechanged="onAreaIdValueChanged" />
                </td>
                <td style="width: 80px; text-align: right;">网格</td>
                <td>
                    <input id="ReseauId" name="ReseauId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="ReseauName" valuefield="Id" data="[{Id:'00000000-0000-0000-0000-000000000000',ReseauName:'请选择'}]"
                           required="true" onvalidation="onReseauIdValidation" onload="onReseauIdLoad" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">经度</td>
                <td>
                    <input id="Lng" name="Lng" class="mini-textbox" vtype='float' requirederrortext="请输入经度" required="true" style="width: 200px;" />
                </td>
                <td style="width: 80px; text-align: right;">纬度</td>
                <td>
                    <input id="Lat" name="Lat" class="mini-textbox" vtype='float' requirederrortext="请输入纬度" required="true" style="width: 200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">导航图</td>
                <td>
                    <a class="navigationmapedit" onclick="onMapEditClick();"></a>
                </td>
                <td style="width: 80px; text-align: right;">附件</td>
                <td>
                    <table>
                        <tr>
                            <td style="width:16px">
                                <a class="fileedit" onclick="onFileEditClick();"></a>
                            </td>
                            <td>
                                附件数量：<input id="Count" name="Count" class="mini-textbox" value="@ViewData["Count"]" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">重要性程度</td>
                <td>
                    <input id="Importance" name="Importance" class="mini-combobox" value="1" style="width:200px;" data=@Html.Raw(ViewData["Importance"]) />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">租赁部门</td>
                <td>
                    <input id="AddressingDepartmentId" name="AddressingDepartmentId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="DepartmentName" valuefield="Id" data=@Html.Raw(ViewData["AddressingDepartmentsBySelect"])
                           required="true" onvalidation="onAddressingDepartmentIdValidation" />
                </td>
                <td style="width: 80px; text-align: right;">实际租赁人</td>
                <td>
                    <input id="AddressingRealName" name="AddressingRealName" requirederrortext="请输入实际租赁人" required="true" class="mini-textbox" style="width:200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">业主名称</td>
                <td>
                    <input id="OwnerName" name="OwnerName" class="mini-textbox" style="width:200px;" />
                </td>
                <td style="width: 80px; text-align: right;">联系人</td>
                <td>
                    <input id="OwnerContact" name="OwnerContact" class="mini-textbox" style="width:200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">联系方式</td>
                <td>
                    <input id="OwnerPhoneNumber" name="OwnerPhoneNumber" class="mini-textbox" style="width:200px;" />
                </td>
                <td style="width: 80px; text-align: right;">状态</td>
                <td>
                    <input id="State" name="State" class="mini-combobox" value="1" style="width: 200px;" data=@Html.Raw(ViewData["State"]) />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">详细地址</td>
                <td>
                    <input id="DetailedAddress" name="DetailedAddress" class="mini-textarea" requirederrortext="请输入详细地址" required="true" style="width: 200px; height: 40px;" />
                </td>
                <td style="width: 80px; text-align: right;">备注</td>
                <td>
                    <input id="Remarks" name="Remarks" class="mini-textarea" style="width: 200px; height: 40px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">创建人</td>
                <td>
                    <input id="FullName" name="FullName" class="mini-textbox" style="width:200px;" enabled="false" />
                </td>
                <td style="width: 80px; text-align: right;">创建日期</td>
                <td>
                    <input id="CreateDateText" name="CreateDateText" class="mini-datepicker" style="width:100px;" enabled="false" value="new Date()" showclearbutton="false" />
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-save" onclick="onSaveClick" style="margin-right: 10px;">保存</a>
    </div>
</div>
<div id="winImport" class="mini-window" style="width: 330px; height: 150px;"
     showmodal="true" allowresize="false" title="批量导入基站">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">示例及模板</td>
            <td>
                <a href="@Url.RouteUrl(new { controller = "File", action = "DownloadTemplatesAndSamples" })?FileType=5" target="_blank">模板下载</a>&nbsp;&nbsp;<a href="@Url.RouteUrl(new { controller = "File", action = "DownloadTemplatesAndSamples" })?FileType=6" target="_blank">示例下载</a>
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">导入文件</td>
            <td>
                <input id="beFile" style="width:200px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="请上传" value="00000000-0000-0000-0000-000000000000" required="true"
                       onbuttonclick="onFileSelectButtonClick" oncloseclick="onFileSelectButtonCloseClick" onvalidation="onBeFileValidation" />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onImportOKClick">确定导入</a>
    </div>
</div>
<div id="winImportError" class="mini-window" style="width: 600px; height: 320px;"
     showmodal="true" allowresize="false" title="批量导入错误提示">
    <div class="mini-fit">
        <div id="dgImportError" class="mini-datagrid" style="width: 100%; height: 100%;" allowmovecolumn="false"
             multiselect="true" fitcolumns="false" onlycheckselection="true" showpager="false"
             virtualscroll="true" ondrawcell="onDgImportErrorDrawCell">
            <div property="columns">
                <div type="indexcolumn"></div>
                <div field="ObjectName" header="对象名称" width="100"></div>
                <div field="PropertyName" header="属性名称" width="100"></div>
                <div field="ErrorMessage" header="错误信息" width="320"></div>
            </div>
        </div>
    </div>
</div>
<div id="winImport2" class="mini-window" style="width: 330px; height: 150px;"
     showmodal="true" allowresize="false" title="批量更新基站">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">示例及模板</td>
            <td>
                <a href="@Url.RouteUrl(new { controller = "File", action = "DownloadTemplatesAndSamples" })?FileType=5" target="_blank">模板下载</a>&nbsp;&nbsp;<a href="@Url.RouteUrl(new { controller = "File", action = "DownloadTemplatesAndSamples" })?FileType=6" target="_blank">示例下载</a>
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">导入文件</td>
            <td>
                <input id="beFile2" style="width:200px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="请上传" value="00000000-0000-0000-0000-000000000000" required="true"
                       onbuttonclick="onFileSelectButtonClick" oncloseclick="onFileSelectButtonCloseClick" onvalidation="onBeFileValidation" />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onUpdateOKClick">确定更新</a>
    </div>
</div>
<div id="winImportError2" class="mini-window" style="width: 600px; height: 320px;"
     showmodal="true" allowresize="false" title="批量更新错误提示">
    <div class="mini-fit">
        <div id="dgImportError2" class="mini-datagrid" style="width: 100%; height: 100%;" allowmovecolumn="false"
             multiselect="true" fitcolumns="false" onlycheckselection="true" showpager="false"
             virtualscroll="true" ondrawcell="onDgImportErrorDrawCell">
            <div property="columns">
                <div type="indexcolumn"></div>
                <div field="ObjectName" header="对象名称" width="100"></div>
                <div field="PropertyName" header="属性名称" width="100"></div>
                <div field="ErrorMessage" header="错误信息" width="320"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgPlace = mini.get("dgPlace");
    var winQuery = mini.get("winQuery");
    var txtPlaceCode = mini.get("txtPlaceCode");
    var txtPlaceName = mini.get("txtPlaceName");
    var cbPlaceCategoryId = mini.get("cbPlaceCategoryId");
    var cbPlaceOwner = mini.get("cbPlaceOwner");
    var cbAreaId = mini.get("cbAreaId");
    var cbReseauId = mini.get("cbReseauId");
    var cbImportance = mini.get("cbImportance");
    var cbState = mini.get("cbState");

    var winPlace = mini.get("winPlace");
    var frmPlace = new mini.Form("#frmPlace");
    var txtPlaceId = mini.get("Id");
    var txtFileIdList = mini.get("FileIdList");
    var txt_PlaceName = mini.get("PlaceName");
    var cb_PlaceCategoryId = mini.get("PlaceCategoryId");
    var cb_PlaceOwner = mini.get("PlaceOwner");
    var cb_ReseauId = mini.get("ReseauId");
    var txtLng = mini.get("Lng");
    var txtLat = mini.get("Lat");
    dgPlace.hideColumn(2);

    var count = mini.get("Count");
    count.setWidth("10px");
    if (count.setReadOnly) count.setReadOnly(true);     //只读
    if (count.setIsValid) count.setIsValid(true);      //去除错误提示
    if (count.addCls) count.addCls("asLabel");          //增加asLabel外观

    var winImport = mini.get("winImport");
    var beFile = mini.get("beFile");
    var winImportError = mini.get("winImportError");
    var dgImportError = mini.get("dgImportError");

    var winImport2 = mini.get("winImport2");
    var beFile2 = mini.get("beFile2");
    var winImportError2 = mini.get("winImportError2");
    var dgImportError2 = mini.get("dgImportError2");

    function BindDgPlace() {
        btnSearch.setEnabled(false);
        var query_PlaceCode = txtPlaceCode.getValue();
        var query_PlaceName = txtPlaceName.getValue();
        var query_PlaceCategoryId = cbPlaceCategoryId.getValue();
        var query_PlaceOwner = cbPlaceOwner.getValue();
        var query_AreaId = cbAreaId.getValue();
        var query_ReseauId = cbReseauId.getValue();
        var query_Importance = cbImportance.getValue();
        var query_State = cbState.getValue();
        if (dgPlace.getUrl() == "") {
            dgPlace.setUrl("@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetPlaceImportsPage" })");
        }
        dgPlace.clearSelect(false);
        dgPlace.load({ PlaceCode: query_PlaceCode, PlaceName: query_PlaceName, PlaceCategoryId: query_PlaceCategoryId, PlaceOwner: query_PlaceOwner, AreaId: query_AreaId, ReseauId: query_ReseauId, Importance: query_Importance, State: query_State });
    }

    function onDgPlaceLoad() {
        btnSearch.setEnabled(true);
    }

    function onDrawCell(e) {
        if (e.field == "State" && e.value == 2) {
            e.cellStyle = "color:red;";
        }
        if (e.field == "Map") {
            e.cellHtml = "<a class='navigationmap' onclick='onMapClick(\"" + e.record.Id + "\");'></a>";
        }
        else if (e.field == "File" && e.record.IsFile != "") {
            e.cellHtml = "<a class='file' onclick='onFileClick(\"" + e.record.Id + "\");'></a>";
        }
        else if (e.field == "PlaceName") {
            e.cellStyle = "color:blue";
        }
    }

    function onMapClick(id) {
        var el = dgPlace.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "Map", action = "GetPlacePoint" })",
                data: { PlaceId: id, AreaId: "00000000-0000-0000-0000-000000000000", PlaceName: "", Lng: 0, Lat: 0, Profession: 1 },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null && result.Id == id) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: result.PlaceName,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onFileClick(id) {
        var el = dgPlace.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetPlaceFiles" })",
                data: { PlaceId: id, FileIdList: "" },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "附件",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function BindCbReseauId(areaId) {
        cbReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + areaId + "?getType=2");
    }

    function onCbAreaIdValueChanged(e) {
        BindCbReseauId(e.sender.getValue());
    }

    function onCbReseauIdLoad() {
        cbReseauId.setValue("00000000-0000-0000-0000-000000000000");
    }

    function onPlaceCategoryIdValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择基站类型";
                e.isValid = false;
            }
        }
    }

    function onPlaceOwnerValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择产权";
                e.isValid = false;
            }
        }
    }

    function onAddressingDepartmentIdValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择租赁部门";
                e.isValid = false;
            }
        }
    }

    function onAreaIdValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择区域";
                e.isValid = false;
            }
        }
    }

    function onReseauIdLoad() {
        cb_ReseauId.setValue("00000000-0000-0000-0000-000000000000");
    }

    function onAreaIdValueChanged(e) {
        BindReseauId(e.sender.getValue());
        cb_ReseauId.validate();
    }

    function BindReseauId(areaId) {
        cb_ReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + areaId + "?getType=1");
    }

    function onReseauIdValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择网格";
                e.isValid = false;
            }
        }
    }

    function onSearchClick() {
        winQuery.show();
    }

    function onOKClick() {
        BindDgPlace();
        winQuery.hide();
    }

    function onEditClick() {
        var rows = dgPlace.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择一条要修改的数据");
        }
        else {
            frmPlace.clear();
            winPlace.setTitle("修改基站");
            winPlace.show();
            var el = winPlace.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                $.ajax({
                    url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetPlaceImportById" })" + "/" + rows[0].Id,
                    type: "get",
                    async: false,
                    success: function (result, textStatus) {
                        if (result.Id != null && result.Id == rows[0].Id) {
                            cb_PlaceCategoryId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedPlaceCategorys" })" + "/" + result.Profession + "?getType=1");
                            cb_ReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + result.AreaId + "?getType=1");
                            frmPlace.setData(result);
                            txt_PlaceName.focus();
                        }
                        else {
                            winPlace.hide();
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        winPlace.hide();
                    }
                });
            }, 50);
            setTimeout(function () {
                mini.unmask(el);
            }, 300);
        }
    }

    function onMapEditClick() {
        var el = winPlace.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "Map", action = "GetPlacePoint" })",
                data: { PlaceId: txtPlaceId.getValue(), AreaId: "00000000-0000-0000-0000-000000000000", PlaceName: "", Lng: 0, Lat: 0, Profession: 1 },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null && result.Id == txtPlaceId.getValue()) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: result.PlaceName,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetDataEdit(data);
                            },
                            ondestroy: function (action) {
                                if (action == "ok") {
                                    var iframe = this.getIFrameEl();
                                    var data = iframe.contentWindow.GetData();
                                    data = mini.clone(data);
                                    txtLng.setValue(data.Lng);
                                    txtLat.setValue(data.Lat);
                                }
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onFileEditClick() {
        var el = winPlace.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "File", action = "GetPlaceFiles" })",
                data: { PlaceId: txtPlaceId.getValue(), FileIdList: txtFileIdList.getValue() },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Code == null || !result.Code) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
                            title: "附件",
                            iconCls: "icon-file",
                            width: 620,
                            height: 250,
                            allowResize: false,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetDataEdit(data);
                            },
                            ondestroy: function (action) {
                                if (action == "ok") {
                                    var iframe = this.getIFrameEl();
                                    var data = iframe.contentWindow.GetData();
                                    data = mini.clone(data);
                                    txtFileIdList.setValue(data.FileIdList);
                                }
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onSaveClick() {
        frmPlace.validate();
        if (frmPlace.isValid() == false) return;
        var loading = mini.loading("处理中,请稍后...", "保存数据");
        var jsonData = mini.encode(frmPlace.getData());
        $.ajax({
            url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "SavePlaceImport" })",
            data: AddAntiForgeryToken({ data: jsonData }),
            type: "post",
            success: function (result, textStatus) {
                mini.hideMessageBox(loading);
                if (result.Code != null && result.Code == 0) {
                    winPlace.hide();
                    ShowSucessMessage(result.Message);
                    BindDgPlace();
                }
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                mini.hideMessageBox(loading);
            }
        });
    }

    function onCellClick(e) {
        if (e.column.field == "PlaceName") {
            var el = dgPlace.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                mini.unmask(el);
                mini.open({
                    url: "@Url.RouteUrl(new { controller = "BaseData", action = "PlaceInfo" })" + "/" + e.record.Id,
                    title: "站点信息",
                    //iconCls: "icon-editor",
                    width: 640,
                    height: 500,
                });
            }, 50);
        }
    }

    function onImportClick() {
        beFile.setValue("00000000-0000-0000-0000-000000000000");
        beFile.setText("请上传");
        beFile.setIsValid(true);
        winImport.show();
    }

    function onImportOKClick() {
        beFile.validate();
        if (beFile.isValid() == false) return;
        var el = winImport.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '数据导入中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "DataImport", action = "ImportPlace" })",
                type: "post",
                data: AddAntiForgeryToken({ FileId: beFile.getValue() }),
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (!result.Code || result.Code == null) {
                        if (result.length == 0) {
                            ShowSucessMessage("数据导入成功");
                            winImport.hide();
                            BindDgPlace();
                        }
                        else {
                            dgImportError.setData(result);
                            winImportError.show();
                            beFile.setValue("00000000-0000-0000-0000-000000000000");
                            beFile.setText("请上传");
                        }
                    }
                    else {
                        beFile.setValue("00000000-0000-0000-0000-000000000000");
                        beFile.setText("请上传");
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                    beFile.setValue("00000000-0000-0000-0000-000000000000");
                    beFile.setText("请上传");
                }
            });
        }, 50);
    }

    function onFileSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
            title: "上传Excel文件",
            iconCls: "icon-file",
            width: 620,
            height: 200,
            allowResize: false,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.SetDataExcel();
            },
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                    beSelect.validate();
                }
            }
        });
    }

    function onFileSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("请上传");
        this.validate();
    }

    function onBeFileValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请上传一个Excel文件";
                e.isValid = false;
            }
        }
    }

    function onDgImportErrorDrawCell(e) {
        if (e.field == "ErrorMessage") {
            e.cellStyle = "color:red;";
        }
    }

    function onUpdateClick() {
        beFile2.setValue("00000000-0000-0000-0000-000000000000");
        beFile2.setText("请上传");
        beFile2.setIsValid(true);
        winImport2.show();
    }

    function onUpdateOKClick() {
        beFile2.validate();
        if (beFile2.isValid() == false) return;
        var el = winImport2.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '数据导入中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "DataImport", action = "UpdatePlace" })",
                type: "post",
                data: AddAntiForgeryToken({ FileId: beFile2.getValue() }),
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (!result.Code || result.Code == null) {
                        if (result.length == 0) {
                            ShowSucessMessage("数据更新成功");
                            winImport2.hide();
                            BindDgPlace();
                        }
                        else {
                            dgImportError2.setData(result);
                            winImportError2.show();
                            beFile2.setValue("00000000-0000-0000-0000-000000000000");
                            beFile2.setText("请上传");
                        }
                    }
                    else {
                        beFile2.setValue("00000000-0000-0000-0000-000000000000");
                        beFile2.setText("请上传");
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                    beFile2.setValue("00000000-0000-0000-0000-000000000000");
                    beFile2.setText("请上传");
                }
            });
        }, 50);
    }
</script>