<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-help" plain="true" href="@Url.RouteUrl(new { controller = "File", action = "DownloadHelpFiles" })?FileName=ProjectManagement" target="_blank"></a>当前位置：基站建维>施工管理>项目管理
            </td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a id="btnEdit" class="mini-button" iconcls="icon-edit" plain="true" onclick="onEditClick">修改</a>
                <a id="btnEdit" class="mini-button" iconcls="icon-edit" plain="true" onclick="onMaintClick">资源维护</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgProjectManagement" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" fitcolumns="false" onlycheckselection="true" showreloadbutton="false" pagesize="15" sizelist="[15,30,50,100]"
         virtualscroll="false" frozenstartcolumn="0" frozenendcolumn="3" ondrawcell="onDrawCell" onload="onDgProjectManagementLoad" oncellclick="onCellClick">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="PlaceId"></div>
            <div field="IsFile" header=""></div>
            <div field="GroupPlaceCode" header="站点编码" width="80"></div>
            <div field="PlaceName" header="基站名称" width="150"></div>
            <div field="AreaName" header="区域" width="80"></div>
            <div field="ReseauName" header="网格" width="80"></div>
            <div field="PlaceCategoryName" header="基站类型" width="80"></div>
            <div field="Map" header="导航图" width="50"></div>
            <div type="comboboxcolumn" field="ConstructionMethod" header="建设方式" width="60">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["ConstructionMethod"]) />
            </div>
            <div field="ProjectName" header="建设项目" width="200"></div>
            <div type="comboboxcolumn" field="ConstructionProgress" header="建设进度" width="60">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["ConstructionProgress"]) />
            </div>
            <div field="ProgressMemos" header="进度简述" width="100"></div>
            <div field="FullName" header="工程经理" width="60"></div>
            <div field="CustomerName" header="监理单位" width="60"></div>
        </div>
    </div>
</div>
<div id="winQuery" class="mini-window" style="width: 600px; height: 170px;"
     showmodal="true" allowresize="false" title="查询条件">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">基站名称</td>
            <td>
                <input id="txtPlaceName" class="mini-textbox" style="width:200px;" />
            </td>
            <td style="width: 80px; text-align: right;">基站类型</td>
            <td>
                <input id="cbPlaceCategoryId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="PlaceCategoryName" valuefield="Id" data="[{Id:'00000000-0000-0000-0000-000000000000',PlaceCategoryName:'全部'}]"
                       onload="onCbPlaceCategoryIdLoad" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">区域</td>
            <td>
                <input id="cbAreaId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="AreaName" valuefield="Id" data=@Html.Raw(ViewData["AreasByAll"])
                       onvaluechanged="onCbAreaIdValueChanged" />
            </td>
            <td style="width: 80px; text-align: right;">网格</td>
            <td>
                <input id="cbReseauId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:200px;" textfield="ReseauName" valuefield="Id" data="[{Id:'00000000-0000-0000-0000-000000000000',ReseauName:'全部'}]"
                       onload="onCbReseauIdLoad" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">监理单位</td>
            <td>
                <input id="CustomerId" name="CustomerId" style="width:200px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="全部" value="00000000-0000-0000-0000-000000000000"
                       onbuttonclick="onCustomerSelectButtonClick" oncloseclick="onCustomerSelectButtonCloseClick" />
            </td>
            <td style="width: 80px; text-align: right;">建设进度</td>
            <td>
                <input id="cbConstructionProgress" class="mini-combobox" value="6" style="width:200px;" data=@Html.Raw(ViewData["ConstructionProgressByAll"]) />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onOKClick">确定</a>
    </div>
</div>
<div id="winProjectManagement" class="mini-window" style="width: 350px; height: 200px;"
     showmodal="true" allowresize="false">
    <div id="frmProjectManagement" class="form">
        <input class="mini-hidden" id="Id" name="Id" />
        <table style="width: 100%;">
            <tr>
                <td style="width: 80px; text-align: right;">基站名称</td>
                <td>
                    <input id="PlaceName" name="PlaceName" class="mini-textbox" style="width: 200px;" readonly="true" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">建设进度</td>
                <td>
                    <input id="ConstructionProgress" name="ConstructionProgress" class="mini-combobox" value="1" style="width:200px;" data=@Html.Raw(ViewData["ConstructionProgress"]) />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">进度简述</td>
                <td>
                    <input id="ProgressMemos" name="ProgressMemos" class="mini-textarea" style="width: 200px; height: 60px;" />
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-save" onclick="onSaveClick" style="margin-right: 10px;">保存</a>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgProjectManagement = mini.get("dgProjectManagement");
    var winQuery = mini.get("winQuery");
    var txtPlaceName = mini.get("txtPlaceName");
    var cbPlaceCategoryId = mini.get("cbPlaceCategoryId");
    var cbAreaId = mini.get("cbAreaId");
    var cbReseauId = mini.get("cbReseauId");
    var beCustomerId = mini.get("CustomerId");
    var cbConstructionProgress = mini.get("cbConstructionProgress");
    var winProjectManagement = mini.get("winProjectManagement");
    var frmProjectManagement = new mini.Form("#frmProjectManagement");
    var txtConstructionTaskId = mini.get("Id");
    var cb_ConstructionProgress = mini.get("ConstructionProgress");
    var txtProgressMemos = mini.get("ProgressMemos");

    Init();

    function Init() {
        dgProjectManagement.hideColumn(2);
        dgProjectManagement.hideColumn(3);
        BindCbPlaceCategoryId();
        BindDgProjectManagement();
    }

    function BindDgProjectManagement() {
        btnSearch.setEnabled(false);
        var query_PlaceName = txtPlaceName.getValue();
        var query_PlaceCategoryId = cbPlaceCategoryId.getValue();
        var query_AreaId = cbAreaId.getValue();
        var query_ReseauId = cbReseauId.getValue();
        var query_CustomerId = beCustomerId.getValue();
        var query_ConstructionProgress = cbConstructionProgress.getValue();
        if (dgProjectManagement.getUrl() == "") {
            dgProjectManagement.setUrl("@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetConstructionTasksPage" })");
        }
        dgProjectManagement.clearSelect(false);
        dgProjectManagement.load({ PlaceName: query_PlaceName, PlaceCategoryId: query_PlaceCategoryId, AreaId: query_AreaId, ReseauId: query_ReseauId, CustomerId: query_CustomerId, ConstructionProgress: query_ConstructionProgress });
    }

    function onDgProjectManagementLoad() {
        btnSearch.setEnabled(true);
    }

    function onDrawCell(e) {
        if (e.field == "Map") {
            e.cellHtml = "<a class='navigationmap' onclick='onMapClick(\"" + e.record.PlaceId + "\");'></a>";
        }
        else if (e.field == "PlaceName") {
            e.cellStyle = "color:blue";
        }
        else if (e.field == "ProjectName") {
            e.cellStyle = "color:blue";
        }
    }

    function onMapClick(id) {
        var el = dgProjectManagement.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "Map", action = "GetPlacePoint" })",
                data: { PlaceId: id, AreaId: "00000000-0000-0000-0000-000000000000", PlaceName: "", Lng: 0, Lat: 0, Profession: 1 },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null && result.Id == id) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: result.PlaceName,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function onCellClick(e) {
        if (e.column.field == "PlaceName") {
            var el = dgProjectManagement.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                mini.unmask(el);
                mini.open({
                    url: "@Url.RouteUrl(new { controller = "BaseData", action = "PlaceInfo" })" + "/" + e.record.PlaceId,
                    title: "站点信息",
                    //iconCls: "icon-editor",
                    width: 640,
                    height: 500,
                });
            }, 50);
        }
        if (e.column.field == "ProjectName") {
            var el = dgProjectManagement.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                mini.unmask(el);
                mini.open({
                    url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "TaskCard" })" + "/" + e.record.Id,
                    title: "任务信息",
                    //iconCls: "icon-editor",
                    width: 640,
                    height: 500,
                });
            }, 50);
        }
    }

    function BindCbPlaceCategoryId() {
        cbPlaceCategoryId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedPlaceCategorys" })" + "/" + 1 + "?getType=2");
    }

    function BindCbReseauId(areaId) {
        cbReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + areaId + "?getType=2");
    }

    function onCbAreaIdValueChanged(e) {
        BindCbReseauId(e.sender.getValue());
    }

    function onCbPlaceCategoryIdLoad() {
        cbPlaceCategoryId.setValue("00000000-0000-0000-0000-000000000000");
    }

    function onCbReseauIdLoad() {
        cbReseauId.setValue("00000000-0000-0000-0000-000000000000");
    }

    function onSearchClick() {
        winQuery.show();
    }

    function onOKClick() {
        BindDgProjectManagement();
        winQuery.hide();
    }

    function onCustomerSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "CustomControl", action = "CustomerSelection" })",
            title: "选择监理单位",
            width: 685,
            height: 410,
            allowResize: false,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                }
                else if (action == "cancel") {
                    beSelect.setValue("00000000-0000-0000-0000-000000000000");
                    beSelect.setText("全部");
                }
                beSelect.validate();
            }
        });
    }

    function onCustomerSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("全部");
        this.validate();
    }

    function onEditClick() {
        var rows = dgProjectManagement.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择一条要修改的数据");
        }
        else {
            frmProjectManagement.clear();
            winProjectManagement.setTitle("修改建设进度");
            winProjectManagement.show();
            var el = winProjectManagement.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                $.ajax({
                    url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetConstructionTaskById" })",
                    data: { Id: rows[0].Id },
                    type: "get",
                    async: false,
                    success: function (result, textStatus) {
                        if (result.Id != null) {
                            frmProjectManagement.setData(result);
                        }
                        else {
                            winProjectManagement.hide();
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        winProjectManagement.hide();
                    }
                });
            }, 50);
            setTimeout(function () {
                mini.unmask(el);
            }, 300);
        }
    }

    function onSaveClick() {
        frmProjectManagement.validate();
        if (frmProjectManagement.isValid() == false) return;
        var loading = mini.loading("处理中,请稍后...", "保存数据");
        var jsonData = mini.encode(frmProjectManagement.getData());
        $.ajax({
            url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "SaveConstructionTaskProgress" })",
            data: AddAntiForgeryToken({ data: jsonData }),
            type: "post",
            success: function (result, textStatus) {
                mini.hideMessageBox(loading);
                if (result.Code != null && result.Code == 0) {
                    winProjectManagement.hide();
                    ShowSucessMessage(result.Message);
                    BindDgProjectManagement();
                }
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                mini.hideMessageBox(loading);
            }
        });
    }

    function onMaintClick() {
        var rows = dgProjectManagement.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择一条要维护的数据");
        }
        else {
            setTimeout(function () {
                mini.unmask(el);
                mini.open({
                    url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "ResourceUpdate" })" + "/" + rows[0].Id + "?PlaceId=" + rows[0].PlaceId,
                    title: rows[0].PlaceName,
                    iconCls: "icon-editor",
                    width: 1100,
                    height: 600,
                });
            }, 50);
        }
    }
</script>