<div id="myToolbar" class="mini-toolbar" style="border-bottom: 0px; padding: 0px;">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 100%;">当前位置：基站建维>规划寻址>基站改造</td>
            <td style="white-space: nowrap;">
                <a id="btnSearch" class="mini-button" iconcls="icon-search" plain="true" onclick="onSearchClick">查询</a>
                <a class="mini-button" iconcls="icon-add" plain="true" onclick="onAddClick">新增</a>
                <a class="mini-button" iconcls="icon-add" plain="true" onclick="onImportClick">批量导入</a>
                <a class="mini-button" iconcls="icon-edit" plain="true" onclick="onEditClick">修改</a>
                <a class="mini-button" iconcls="icon-remove" plain="true" onclick="onRemoveClick">删除</a>
                <a class="mini-button" iconcls="icon-downgrade" plain="true" onclick="onSendClick">发送</a>
            </td>
        </tr>
    </table>
</div>
<div class="mini-fit">
    <div id="dgRemodeling" class="mini-datagrid" style="width: 100%; height: 100%;" idfield="Id" allowmovecolumn="false"
         multiselect="true" fitcolumns="false" onlycheckselection="true" showreloadbutton="false" pagesize="15" sizelist="[15,30,50,100]"
         virtualscroll="false" frozenstartcolumn="0" frozenendcolumn="3" onload="onDgRemodelingLoad" ondrawcell="onDrawCell" oncellclick="onCellClick">
        <div property="columns">
            <div type="indexcolumn"></div>
            <div type="checkcolumn"></div>
            <div field="PlaceId" header=""></div>
            <div field="PlaceCode" header="基站编码" width="80"></div>
            <div field="PlaceName" header="基站名称" width="150"></div>
            <div field="AreaName" header="区域" width="80"></div>
            <div field="ReseauName" header="网格" width="80"></div>
            <div field="PlaceCategoryName" header="基站类型" width="80"></div>
            <div field="Lng" header="经度" width="80"></div>
            <div field="Lat" header="纬度" width="80"></div>
            <div field="Map" header="导航图" width="50"></div>
            <div field="PlaceOwnerName" header="产权" width="50"></div>
            <div type="comboboxcolumn" field="ProjectType" header="建设方式" width="60">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["ProjectType"]) />
            </div>
            <div field="ProposedNetwork" header="拟建网络" width="100"></div>
            <div field="Remarks" header="备注" width="150"></div>
            <div type="comboboxcolumn" field="OrderState" header="审批状态" width="80">
                <input property="editor" class="mini-combobox" style="width: 100%;" data=@Html.Raw(ViewData["OrderState"]) />
            </div>
            <div field="FullName" header="创建人" width="100"></div>
            <div field="CreateDate" header="创建日期" width="100" dateformat="yyyy-MM-dd"></div>
        </div>
    </div>
</div>
<div id="winQuery" class="mini-window" style="width: 350px; height: 300px;"
     showmodal="true" allowresize="false" title="查询条件">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">创建日期</td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td><input id="dpBeginDate" class="mini-datepicker" style="width:98px;" value="new Date()" showclearbutton="false" allowinput="false" /></td>
                        <td>至</td>
                        <td><input id="dpEndDate" class="mini-datepicker" style="width:98px;" value="new Date()" showclearbutton="false" allowinput="false" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">基站名称</td>
            <td>
                <input id="txtPlaceName" class="mini-textbox" style="width:208px;" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">区域</td>
            <td>
                <input id="cbAreaId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="AreaName" valuefield="Id" data=@Html.Raw(ViewData["AreasByAll"])
                       onvaluechanged="onCbAreaIdValueChanged" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">网格</td>
            <td>
                <input id="cbReseauId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="ReseauName" valuefield="Id" data="[{Id:'00000000-0000-0000-0000-000000000000',ReseauName:'全部'}]"
                       onload="onCbReseauIdLoad" />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">基站类型</td>
            <td>
                <input id="cbPlaceCategoryId" class="mini-combobox" value="00000000-0000-0000-0000-000000000000" style="width:208px;" textfield="PlaceCategoryName" valuefield="Id" data=@Html.Raw(ViewData["PlaceCategorysByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">建设方式</td>
            <td>
                <input id="cbProjectType" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["ProjectTypeByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">审批状态</td>
            <td>
                <input id="cbOrderState" class="mini-combobox" value="0" style="width:208px;" data=@Html.Raw(ViewData["OrderStateByAll"]) />
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">创建人</td>
            <td>
                <input id="beCreateUserId" style="width:208px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="全部" value="00000000-0000-0000-0000-000000000000"
                       onbuttonclick="onCreateUserSelectButtonClick" oncloseclick="onCreateUserSelectButtonCloseClick" />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onOKClick">确定</a>
    </div>
</div>
<div id="winRemodeling" class="mini-window" style="width: 600px; height: 195px;"
     showmodal="true" allowresize="false">
    <div id="frmRemodeling" class="form">
        <input class="mini-hidden" id="Id" name="Id" />
        <table style="width: 100%;">
            <tr>
                <td style="width: 80px; text-align: right;">创建日期</td>
                <td>
                    <input id="CreateDate" name="CreateDate" class="mini-datepicker" style="width:98px;" value="new Date()" showclearbutton="false" allowinput="false" enabled="false" />
                </td>
                <td style="width: 80px; text-align: right;">基站名称</td>
                <td>
                    <input id="PlaceId" name="PlaceId" style="width:200px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="请选择" value="00000000-0000-0000-0000-000000000000" required="true"
                           onbuttonclick="onPlaceSelectButtonClick" oncloseclick="onPlaceSelectButtonCloseClick" onvalidation="onPlaceIdValidation" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">建设方式</td>
                <td>
                    <input id="ProjectType" name="ProjectType" class="mini-combobox" value="2" style="width:200px;" data=@Html.Raw(ViewData["ProjectTypeBySelect"]) />
                </td>
                <td style="width: 80px; text-align: right;">拟建网络</td>
                <td>
                    <input id="ProposedNetwork" name="ProposedNetwork" class="mini-textbox" style="width:200px;" />
                </td>
            </tr>
            <tr>
                <td style="width: 80px; text-align: right;">备注</td>
                <td colspan="3">
                    <input id="Remarks" name="Remarks" class="mini-textarea" style="width: 200px; height: 45px;" />
                </td>
            </tr>
        </table>
    </div>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-save" onclick="onSaveClick" style="margin-right: 10px;">保存</a>
        <a class="mini-button" iconcls="icon-cancel" onclick="onClearClick">清空</a>
    </div>
</div>
<div id="winImport" class="mini-window" style="width: 330px; height: 150px;"
     showmodal="true" allowresize="false" title="批量导入改造基站">
    <table style="width: 100%;">
        <tr>
            <td style="width: 80px; text-align: right;">示例及模板</td>
            <td>
                <a href="@Url.RouteUrl(new { controller = "File", action = "DownloadTemplatesAndSamples" })?FileType=3" target="_blank">模板下载</a>&nbsp;&nbsp;<a href="@Url.RouteUrl(new { controller = "File", action = "DownloadTemplatesAndSamples" })?FileType=4" target="_blank">示例下载</a>
            </td>
        </tr>
        <tr>
            <td style="width: 80px; text-align: right;">导入文件</td>
            <td>
                <input id="beFile" style="width:200px;" allowinput="false" class="mini-buttonedit searchbox" showclose="true" text="请上传" value="00000000-0000-0000-0000-000000000000" required="true"
                       onbuttonclick="onFileSelectButtonClick" oncloseclick="onFileSelectButtonCloseClick" onvalidation="onBeFileValidation" />
            </td>
        </tr>
    </table>
    <div style="text-align: center; padding: 10px;">
        <a class="mini-button" iconcls="icon-ok" onclick="onImportOKClick">确定导入</a>
    </div>
</div>
<div id="winImportError" class="mini-window" style="width: 600px; height: 320px;"
     showmodal="true" allowresize="false" title="批量导入错误提示">
    <div class="mini-fit">
        <div id="dgImportError" class="mini-datagrid" style="width: 100%; height: 100%;" allowmovecolumn="false"
             multiselect="true" fitcolumns="false" onlycheckselection="true" showpager="false"
             virtualscroll="true" ondrawcell="onDgImportErrorDrawCell">
            <div property="columns">
                <div type="indexcolumn"></div>
                <div field="ObjectName" header="对象名称" width="100"></div>
                <div field="PropertyName" header="属性名称" width="100"></div>
                <div field="ErrorMessage" header="错误信息" width="320"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    mini.parse();

    var btnSearch = mini.get("btnSearch");
    var dgRemodeling = mini.get("dgRemodeling");
    var winQuery = mini.get("winQuery");
    var dpBeginDate = mini.get("dpBeginDate");
    var dpEndDate = mini.get("dpEndDate");
    var txtPlaceName = mini.get("txtPlaceName");
    var cbAreaId = mini.get("cbAreaId");
    var cbReseauId = mini.get("cbReseauId");
    var cbPlaceCategoryId = mini.get("cbPlaceCategoryId");
    var cbProjectType = mini.get("cbProjectType");
    var cbOrderState = mini.get("cbOrderState");
    var beCreateUserId = mini.get("beCreateUserId");

    var winRemodeling = mini.get("winRemodeling");
    var frmRemodeling = new mini.Form("#frmRemodeling");
    var txtRemodelingId = mini.get("Id");
    var dpCreateDate = mini.get("CreateDate");
    var bePlaceId = mini.get("PlaceId");
    var cb_ProjectType = mini.get("ProjectType");

    var winImport = mini.get("winImport");
    var beFile = mini.get("beFile");
    var winImportError = mini.get("winImportError");
    var dgImportError = mini.get("dgImportError");

    Init();

    function Init() {
        dgRemodeling.hideColumn(2);
        dpBeginDate.setValue(new Date().DateAdd("y", -1));
        beCreateUserId.setValue("@ViewData["UserId"]");
        beCreateUserId.setText("@ViewData["FullName"]");
        BindDgRemodeling();
    }

    function BindDgRemodeling() {
        btnSearch.setEnabled(false);
        var query_BeginDate = dpBeginDate.getFormValue();
        var query_EndDate = dpEndDate.getFormValue();
        var query_PlaceName = txtPlaceName.getValue();
        var query_AreaId = cbAreaId.getValue();
        var query_ReseauId = cbReseauId.getValue();
        var query_PlaceCategoryId = cbPlaceCategoryId.getValue();
        var query_ProjectType = cbProjectType.getValue();
        var query_OrderState = cbOrderState.getValue();
        var query_CreateUserId = beCreateUserId.getValue();
        if (dgRemodeling.getUrl() == "") {
            dgRemodeling.setUrl("@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetRemodelingsPage" })");
        }
        dgRemodeling.clearSelect(false);
        dgRemodeling.load({
            BeginDate: query_BeginDate, EndDate: query_EndDate, PlaceName: query_PlaceName, AreaId: query_AreaId, ReseauId: query_ReseauId,
            PlaceCategoryId: query_PlaceCategoryId, ProjectType: query_ProjectType, OrderState: query_OrderState, CreateUserId: query_CreateUserId
        });
    }

    function onDgRemodelingLoad() {
        btnSearch.setEnabled(true);
    }

    function onDrawCell(e) {
        if (e.field == "Map") {
            e.cellHtml = "<a class='navigationmap' onclick='onMapClick(\"" + e.record.PlaceId + "\");'></a>";
        }
        if (e.field == "PlaceName") {
            e.cellStyle = "color:blue";
        }
    }

    function onMapClick(id) {
        var el = dgRemodeling.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '加载中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "Map", action = "GetPlacePoint" })",
                data: { PlaceId: id, AreaId: "00000000-0000-0000-0000-000000000000", PlaceName: "", Lng: 0, Lat: 0, Profession: 1 },
                type: "get",
                async: false,
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (result.Id != null && result.Id == id) {
                        mini.open({
                            url: "@Url.RouteUrl(new { controller = "Map", action = "NavigationMap" })",
                            title: result.PlaceName,
                            iconCls: "icon-map",
                            width: 800,
                            height: 550,
                            showMaxButton: true,
                            onload: function () {
                                var iframe = this.getIFrameEl();
                                var data = result;
                                iframe.contentWindow.SetData(data);
                            }
                        });
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                }
            });
        }, 50);
    }

    function BindCbReseauId(areaId) {
        cbReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + areaId + "?getType=2");
    }

    function onCbAreaIdValueChanged(e) {
        BindCbReseauId(e.sender.getValue());
    }

    function onCbReseauIdLoad() {
        cbReseauId.setValue("00000000-0000-0000-0000-000000000000");
    }

    function BindReseauId(areaId) {
        cb_ReseauId.setUrl("@Url.RouteUrl(new { controller = "BaseData", action = "GetUsedReseaus" })" + "/" + areaId + "?getType=1");
    }

    function onCreateUserSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "CustomControl", action = "UserSelection" })",
            title: "选择用户",
            width: 620,
            height: 350,
            allowResize: false,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                    beSelect.validate();
                }
                else if (action == "cancel") {
                    beSelect.setValue("00000000-0000-0000-0000-000000000000");
                    beSelect.setText("全部");
                    beSelect.validate();
                }
            }
        });
    }

    function onCreateUserSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("全部");
        this.validate();
    }

    function onPlaceSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "CustomControl", action = "PlaceSelection" })" + "?Profession=1",
            title: "选择基站",
            width: 700,
            height: 410,
            allowResize: false,
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.Id);
                    beSelect.setText(data.PlaceName);
                }
                else if (action == "cancel") {
                    beSelect.setValue("00000000-0000-0000-0000-000000000000");
                    beSelect.setText("请选择");
                }
                beSelect.validate();
            }
        });
    }

    function onPlaceSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("请选择");
        this.validate();
    }

    function onPlaceIdValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请选择一个要改造的基站";
                e.isValid = false;
            }
        }
    }

    function ClearFrmRemodeling() {
        var idValue = txtRemodelingId.getValue();
        var createDateValue = dpCreateDate.getFormValue();
        frmRemodeling.clear();
        txtRemodelingId.setValue(idValue);
        dpCreateDate.setValue(createDateValue);
        bePlaceId.setValue("00000000-0000-0000-0000-000000000000");
        bePlaceId.setText("请选择");
        cb_ProjectType.setValue(2);
    }

    function onSearchClick() {
        winQuery.show();
    }

    function onOKClick() {
        BindDgRemodeling();
        winQuery.hide();
    }

    function onAddClick() {
        txtRemodelingId.setValue("");
        dpCreateDate.setValue(new Date());
        ClearFrmRemodeling();
        winRemodeling.setTitle("新增基站改造");
        winRemodeling.show();
    }

    function onEditClick() {
        var rows = dgRemodeling.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择一条要修改的数据");
        }
        else {
            ClearFrmRemodeling();
            winRemodeling.setTitle("修改基站改造");
            winRemodeling.show();
            var el = winRemodeling.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                $.ajax({
                    url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetRemodelingById" })" + "/" + rows[0].Id,
                    type: "get",
                    async: false,
                    success: function (result, textStatus) {
                        if (result.Id != null && result.Id == rows[0].Id) {
                            frmRemodeling.setData(result);
                            dpCreateDate.setValue(result.CreateDateText);
                            bePlaceId.setText(result.PlaceName);
                            beProjectId.setText(result.ProjectName);
                        }
                        else {
                            winRemodeling.hide();
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        winRemodeling.hide();
                    }
                });
            }, 50);
            setTimeout(function () {
                mini.unmask(el);
            }, 300);
        }
    }

    function onRemoveClick() {
        var rows = dgRemodeling.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择要删除的数据");
        }
        else {
            mini.confirm("确定要删除选中的数据？", "删除基站改造",
            function (action) {
                if (action == "ok") {
                    var loading = mini.loading("处理中,请稍后...", "删除数据");
                    var jsonData = mini.encode(rows);
                    $.ajax({
                        url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "RemoveRemodelings" })",
                        data: AddAntiForgeryToken({ data: jsonData }),
                        type: "post",
                        success: function (result, textStatus) {
                            mini.hideMessageBox(loading);
                            if (result.Code != null && result.Code == 0) {
                                ShowSucessMessage(result.Message);
                                BindDgRemodeling();
                            }
                        },
                        error: function (xmlHttpRequest, textStatus, errorThrown) {
                            mini.hideMessageBox(loading);
                        }
                    });
                }
            });
        }
    }

    function onClearClick() {
        ClearFrmRemodeling();
    }

    function onSaveClick() {
        frmRemodeling.validate();
        if (frmRemodeling.isValid() == false) return;
        var loading = mini.loading("处理中,请稍后...", "保存数据");
        var jsonData = mini.encode(frmRemodeling.getData());
        $.ajax({
            url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "SaveRemodeling" })",
            data: AddAntiForgeryToken({ data: jsonData }),
            type: "post",
            success: function (result, textStatus) {
                mini.hideMessageBox(loading);
                if (result.Code != null && result.Code == 0) {
                    winRemodeling.hide();
                    ShowSucessMessage(result.Message);
                    BindDgRemodeling();
                }
            },
            error: function (xmlHttpRequest, textStatus, errorThrown) {
                mini.hideMessageBox(loading);
            }
        });
    }

    function onCellClick(e) {
        if (e.column.field == "PlaceName") {
            var el = dgRemodeling.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                mini.unmask(el);
                mini.open({
                    url: "@Url.RouteUrl(new { controller = "BaseData", action = "PlaceInfo" })" + "/" + e.record.PlaceId,
                    title: "站点信息",
                    //iconCls: "icon-editor",
                    width: 610,
                    height: 580,
                });
            }, 50);
        }
    }

    function onImportClick() {
        beFile.setValue("00000000-0000-0000-0000-000000000000");
        beFile.setText("请上传");
        beFile.setIsValid(true);
        winImport.show();
    }

    function onImportOKClick() {
        beFile.validate();
        if (beFile.isValid() == false) return;
        var el = winImport.getEl();
        mini.mask({
            el: el,
            cls: 'mini-mask-loading',
            html: '数据导入中...'
        });
        setTimeout(function () {
            $.ajax({
                url: "@Url.RouteUrl(new { controller = "DataImport", action = "ImportRemodeling" })",
                type: "post",
                data: AddAntiForgeryToken({ FileId: beFile.getValue() }),
                success: function (result, textStatus) {
                    mini.unmask(el);
                    if (!result.Code || result.Code == null) {
                        if (result.length == 0) {
                            ShowSucessMessage("数据导入成功");
                            winImport.hide();
                            BindDgRemodeling();
                        }
                        else {
                            dgImportError.setData(result);
                            winImportError.show();
                            beFile.setValue("00000000-0000-0000-0000-000000000000");
                            beFile.setText("请上传");
                        }
                    }
                    else {
                        beFile.setValue("00000000-0000-0000-0000-000000000000");
                        beFile.setText("请上传");
                    }
                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    mini.unmask(el);
                    beFile.setValue("00000000-0000-0000-0000-000000000000");
                    beFile.setText("请上传");
                }
            });
        }, 50);
    }

    function onFileSelectButtonClick() {
        var beSelect = this;
        mini.open({
            url: "@Url.RouteUrl(new { controller = "File", action = "FileManager" })",
            title: "上传Excel文件",
            iconCls: "icon-file",
            width: 620,
            height: 200,
            allowResize: false,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.SetDataExcel();
            },
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    beSelect.setValue(data.id);
                    beSelect.setText(data.text);
                    beSelect.validate();
                }
            }
        });
    }

    function onFileSelectButtonCloseClick() {
        this.setValue("00000000-0000-0000-0000-000000000000");
        this.setText("请上传");
        this.validate();
    }

    function onBeFileValidation(e) {
        if (e.isValid) {
            if (e.value == "00000000-0000-0000-0000-000000000000") {
                e.errorText = "请上传一个Excel文件";
                e.isValid = false;
            }
        }
    }

    function onDgImportErrorDrawCell(e) {
        if (e.field == "ErrorMessage") {
            e.cellStyle = "color:red;";
        }
    }

    function onSendClick() {
        var rows = dgRemodeling.getSelecteds();
        if (rows.length == 0) {
            mini.alert("请选择一条要发送的数据");
        }
        else {
            var el = dgRemodeling.getEl();
            mini.mask({
                el: el,
                cls: 'mini-mask-loading',
                html: '加载中...'
            });
            setTimeout(function () {
                $.ajax({
                    url: "@Url.RouteUrl(new { controller = "BaseStationBM", action = "GetRemodelingById" })",
                    data: { Id: rows[0].Id },
                    type: "get",
                    async: false,
                    success: function (result, textStatus) {
                        mini.unmask(el);
                        if (result.Id != null) {
                            if (result.OrderState != 1) {
                                mini.alert("选择的改造确认已经发送过流程");
                            }
                            else {
                                mini.open({
                                    url: "@Url.RouteUrl(new { controller = "WorkFlow", action = "WFInstanceSend" })" + "?WFCategoryId=ABDAED6E-6D03-4553-9A66-76E92E8FDCEC&EntityId=" + rows[0].Id,
                                    title: "发送改造确认单",
                                    width: 850,
                                    height: 500,
                                    allowResize: false,
                                    ondestroy: function (action) {
                                        if (action == "ok") {
                                            ShowSucessMessage("公文发送成功");
                                            BindDgRemodeling();
                                        }
                                        else if (action == "cancel") {
                                        }
                                    }
                                });
                            }
                        }
                        else {
                        }
                    },
                    error: function (xmlHttpRequest, textStatus, errorThrown) {
                        mini.unmask(el);
                    }
                });
            }, 50);
        }
    }
</script>